.dropdown-item {
    display: flex;
    flex-direction: row;

    i {
        margin-left: auto;
        font-size: 1.5rem;
    }
}

.music {


    &-content {

        // overflow: auto;
        position: relative;
        margin-right: 400px;

    }

    &-player {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        border-left: 1px solid var(--border-color);
        box-shadow: 2px 0px 20px #00000012;
        background-color: var(--background-color);
    }




    @media all and (max-width: 1000px) {


        &-content {
            margin-right: 0px;
            max-width: 100vw;
        }

        &-player {
            display: none;
        }


    }
}