:host ::ng-deep .swiper-slide {
    width: auto !important;
}

:host ::ng-deep .swiper-container {
    margin-left: 0px;
}



.user {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;

    .name {
        flex-grow: 1;
    }

    &-settings {
        display: grid;
        place-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--background-color-3);
        border-radius: 50%;

        i {
            font-size: 1.5rem;
        }
    }
}

.search-toolbar {
    position: sticky;
    top: 0px;
    padding: 0px 15px;
    background-color: var(--background-color);
    z-index: 7;
    padding-top: env(safe-area-inset-top);
}

.search-input {
    height: 50px;
    margin: 10px 0px;
    font-size: 1rem;

    &::placeholder {
        color: var(--foreground-color);
    }

    padding: 0.8rem 1rem;
    background-color: var(--background-color-3);
    border: 0;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    box-shadow 0.2s ease-out;
    color: var(--foreground-color);
    width: 100%;
    border-radius: 50px;
    // box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    // border: 1px solid var(--border-color);

    &:hover,
    &:focus {
        outline: none;

        background-color: var(--background-color-3);
        color: var(--foreground-color);
        // box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }
}

.play-button {
    background-color: var(--accent-color);
    color: white;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;

    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 6%);

    &:hover {
        cursor: pointer;
    }

    &:focus {}
}

h3 {
    padding: 0 1rem;
}

.title-action {
    display: flex;
    align-items: center;

    h3 {
        flex-grow: 1;
    }

    .float-right {}
}

.playlists {
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 1rem;

    .playlist {
        &:first-of-type {
            // background: blue !important;
            margin-left: 15px;
        }

        &:last-of-type {
            // background: red !important;
            margin-right: 15px;
        }

        border-radius: 20px;
        background-color: var(--background-color-3);
        // backdrop-filter: blur(50px);
        color: var(--foreground-color);
        padding: 10px;

        &:hover {
            color: var(--accent-color);
            cursor: pointer;
        }
    }
}

.artists {
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 1rem;

    .artist {
        &:first-of-type {
            margin-left: 1rem;
        }

        &:last-of-type {
            margin-right: 1rem;
        }

        img {
            width: 80px;
            min-width: 80px;
            height: 80px;
            min-height: 80px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
        }

        .column-details {
            margin-top: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            max-width: 80px;

            .title {
                color: var(--foreground-color);
                font-size: 14px;
            }
        }
    }
}

.albums {
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 1rem;

    .album {
        &:first-of-type {
            margin-left: 1rem;
        }

        &:last-of-type {
            margin-right: 1rem;
        }

        img {
            width: 200px;
            height: 200px;
            min-height: 200px;
            min-width: 200px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
        }

        .column-details {
            margin-top: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            max-width: 200px;
            font-size: 14px;

            .title {
                color: var(--foreground-color);
                font-size: 14px;
            }

            .subtitle {
                color: var(--foreground-color);
                opacity: 0.7;
                font-size: 12px;
            }
        }
    }
}

.tracks {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    // min-height: var(--app-height);
    padding: 1rem;
    // grid-row-gap: 25px;
    animation: slideY 0.6s both;

    //display: none;
    @media screen and (max-width: 1212px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 930px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    .track {}
}

.scrollable {
    list-style: none;
    margin: 20px 0;
    padding: 0;

    .image-element {
        &:first-of-type {
            // background: blue !important;
            margin-left: 15px;
        }

        &:last-of-type {
            // background: red !important;
            margin-right: 15px;
        }

        display: inline-block;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: 5px;
            box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
            width: 200px !important;
            height: 200px !important;
        }

        .column-details {
            padding-top: 10px;
            padding-bottom: 10px;

            .title {
                color: var(--foreground-color);
                font-size: 14px;
            }

            .subtitle {
                color: var(--foreground-color);
                opacity: 0.7;
                font-size: 12px;
            }
        }

        &+.image-element {
            margin-left: 15px;
        }
    }
}

.loading {
    display: flex;
    flex-direction: row;
}

.shine {
    background: var(--background-color-4);
    background-image: linear-gradient(to right,
            var(--background-color-4) 0%,
            var(--background-color-2) 20%,
            var(--background-color-4) 40%,
            var(--background-color-4) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

box {
    height: 200px;
    width: 200px;
}

rect {
    height: 40px;
    width: 100px;
}

lines {
    height: 10px;
    margin-top: 10px;
    width: 200px;
    display: block !important;
    margin-bottom: 10px;
}

.artists {
    display: flex;

    box {
        margin-right: 15px;
    }
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

drag-scroll {
    height: 100%;
    width: 500px;
}