<section class="app-setup">

	<div class="container mx-auto">

		<div class="app-logo">
			<img src="./assets/logo.png" />
			<div class="app-page-title">Welcome to Waveline</div>

		</div>


		<div *ngIf="error" class="flash danger m-b-20">
			{{error}}
		</div>
		<div class="text-meta">Enter your Waveline music server API url</div>
		<div class="grid collapse m-t-20">

			<div class="width-expand@md">
				<input [(ngModel)]="setup.server" class="custom-input" type="text"
					placeholder="https://api.waveline.app" />
			</div>
		</div>

		<div class="text-meta m-t-30">If your server has auth enabled please enter the API Key here (optional)</div>
		<div class="grid m-t-20">
			<div class="width-expand@md">
				<input [(ngModel)]="setup.key" autocomplete="new-password" class="custom-input round" type="password"
					placeholder="Waveline API key (optional)" />
			</div>
		</div>

		<button [disabled]="!setup.server" (click)="onConnect()" class="button block primary">Connect</button>

	</div>
</section>