.app-setup {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.app-logo {
    margin-top: 150px;
    text-align: center;

    img {
        width: 100px;
    }

}

.protocol {
    height: 80px;
    font-size: 1.5rem;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.4);
    background-color: var(--accent-color);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.custom-input {
    background-color: black;
    width: 100%;
    border: 1px solid #333;
    color: white;
    padding: 20px;  
    border-radius: 5px;
    font-size: 1.5rem;
    &:focus {
        border-color: var(--accent-color);
        
    }
}

.button {
    padding: 20px;
    margin-top: 20px;
    background: #000000;
    font-size: 1.5rem;

    &:hover {
        background-color: var(--accent-color);
    }

    &:disabled {
        background-color: #020202;
        cursor: not-allowed;
        color: #1b1b1b;
    }
}