.app-setup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 1;
    overflow: auto;

    padding: 40px;
}

.app-logo {
    margin-top: 150px;
    text-align: center;

    img {
        width: 100px;
    }

}

.protocol {
    height: 80px;
    font-size: 1.5rem;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.4);
    background-color: var(--accent-color);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.custom-input {
    height: 80px;

    font-size: 1.5rem;

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    padding: .8rem 1rem;
    background-color: #09090b;
    border: 0;
    transition: color .3s ease-out,
    background-color .3s ease-out,
    box-shadow .2s ease-out;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    &.round {
        border-radius: 5px;

    }

    &:hover,
    &:focus {
        outline: none;

        background-color: #fff;
        color: #495057;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

        &::placeholder {
            color: #ddd;
        }
    }
}

.button {
    padding: 20px;
    margin-top: 40px;
    background: #000000;
    font-size: 1.5rem;

    &:hover {
        background-color: var(--accent-color);
    }

    &:disabled {
        background-color: #020202;
        cursor: not-allowed;
        color: #1b1b1b;
    }
}