.drop-area {

    // height: 100%;
    display: grid;
    place-content: center;

    h3 {
        text-align: center;
        color: var(--accent-color);
        font-size: 14px;
        padding: 20px;
        margin: 0 auto;
        font-weight: 500;
    }

    .files {
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 1rem;

        .file {
            position: relative;
            display: flex;
            padding: 15px;

            gap: 1rem;
            flex-direction: row;
            color: var(--foreground-color);
            background-color: var(--background-color-2);
            border-radius: 50px;
            overflow: hidden;

            .progress {
                height: 100%;
                width: 0px;
                position: absolute;
                background-color: var(--highlight-color);
                transition: all ease-in-out .3s;
                border-radius: 50px;
                top: 0;
                left: 0;
                bottom: 0;
            }



            &-name {
                flex-grow: 1;
                z-index: 2;
                min-width: 1px;
                overflow: auto;
                white-space: nowrap;
            }

            &-size {
                z-index: 2;
                white-space: nowrap;

            }


        }
    }
}