.drop-area {
    border: 2px dashed var(--border-color);
    padding: 15px;
    border-radius: 15px;
    // height: 100%;
    display: grid;
    place-content: center;

    h3 {
        text-align: center;
        color: var(--accent-color);
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        padding: 20px;
        margin: 0 auto;
        font-weight: 500;
    }

    .files {
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: 50vh;

        .file {
            position: relative;
            display: flex;
            flex-direction: row;
            color: var(--foreground-color);
            background-color: var(--background-color-2);
            border-radius: 50px;

            .progress {
                height: 100%;
                width: 50px;
                position: absolute;
                background-color: var(--highlight-color);
                transition: all ease-in-out .3s;
                border-radius: 50px;
            }

            &+.file {
                margin-top: 15px;
            }

            &-name {
                flex-grow: 1;
                padding: 15px;
                z-index: 2;
            }

            &-size {
                padding: 15px;
                z-index: 2;
            }

            &-status {
                padding: 15px;
                z-index: 2;
            }
        }
    }
}