.player {
    display: grid;
    grid-template-columns: auto 1fr auto;

    @media screen and (max-width: 1000px) {
        padding-bottom: 70px;
        width: 100vw;
        overflow: auto;
        grid-template-columns: 1fr auto;

    }

    &-track {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        grid-row-start: 1;

        .image {
            display: grid;
            place-content: center;

            @media screen and (max-width: 1000px) {
                display: none;
            }

            img {
                border-radius: 15px;
                aspect-ratio: 1;
                object-fit: cover;
                width: 50px;
                height: 50px;
            }
        }

        .track {
            @media screen and (max-width: 1000px) {

                max-width: 170px;
                overflow: auto;
            }

            h1 {
                line-height: 1.2;
                margin: 0px;
                white-space: nowrap;

                overflow: auto;
                display: flex;
                font-size: 1.2rem;
            }

            p {
                margin: 0px;
                white-space: nowrap;

                overflow: auto;
                display: flex;
            }
        }
    }

    &-controls {
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: flex-end;
        gap: 1rem;

        button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            min-height: 30px;
            background-color: transparent;

            display: grid;
            place-content: center;

            &:hover {
                color: var(--foregorund-color);
            }

            &.active {
                color: red;
            }

            // hide 1st, and last button when on mobile

            &:nth-child(1) {
                @media screen and (max-width: 1000px) {
                    display: none;
                }
            }

            &:nth-child(5) {
                @media screen and (max-width: 1000px) {
                    display: none;
                }
            }
        }
    }

    &-progress {

        grid-row-start: 2;

        @media screen and (max-width: 1000px) {
            display: none;
        }

        grid-area: progress;
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        margin: 1rem 0px;
        grid-column: span 3;


        .time {
            opacity: 0.5;
            font-size: 0.8rem;
            width: 30px;
        }

    }

}



.playing {

    @media screen and (max-width: 1000px) {
        padding-bottom: 60px;
    }

    // padding: 1rem;

    &-queue {
        // padding: 1rem;


        .queue {
            display: block;
            height: 100%;
            width: 100%;
            overflow: auto;
        }

    }

    &-details {
        // padding: 1rem;
        // border-radius: 15px;

        //  @media screen and (max-width: 1000px) {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;



        //   }


        &-player {
            padding: 1rem;
            border-radius: 15px;

        }

        .image {
            display: grid;
            place-content: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                aspect-ratio: 1;
                object-fit: cover;

                //   @media screen and (max-width: 1000px) {

                width: 50px;
                height: 50px;


                //  }
            }
        }

        .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            max-width: 400px;
            margin-bottom: 1rem;

            @media screen and (max-width: 1000px) {
                margin-bottom: 0;
            }

            //   @media screen and (max-width: 1000px) {
            max-width: 100%;

            //   }

            .image {
                flex-grow: 0;

            }

            >div {

                flex-grow: 1;

                h1 {
                    line-height: 1.2;
                    margin: 0px;
                    white-space: nowrap;
                    width: 230px;
                    overflow: auto;
                    display: flex;
                    font-size: 1.2rem;
                }

                p {
                    margin: 0px;
                    width: 230px;
                    white-space: nowrap;

                    overflow: auto;
                    display: flex;
                }
            }

            button {
                height: 40px;
                width: 40px;
                min-height: 40px;
                min-width: 40px;
                border-radius: 50%;
                display: grid;
                place-content: center;
                border: none;

                &.active {
                    color: red;
                }
            }

        }

        .progress {
            grid-area: progress;
            position: relative;
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 1rem;
            align-items: center;
            margin: 1rem 0px;

            // @media screen and (max-width: 1000px) {

            grid-row: 3;
            grid-column: 1/3;
            //   }

            @media screen and (max-width: 1000px) {
                display: none;
            }

            .time {
                opacity: 0.5;
                font-size: 0.8rem;
                width: 30px;
            }
        }

        .controls {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            justify-items: center;

            @media screen and (max-width: 1000px) {
                display: none;
            }




            //@media screen and (max-width: 1000px) {

            grid-row: 2;
            grid-column: 1/3;


            //  }

            button {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: grid;
                place-content: center;
                border: none;


                &.playback {
                    background-color: var(--background-color-3);


                    &:hover {
                        color: var(--foregorund-color);
                    }
                }



                &.small {
                    font-size: 14px !important;
                    opacity: 0.6;


                }



                &.active {
                    opacity: 1;
                    color: var(--accent-color);
                }

                &:hover {
                    background-color: none;
                }

            }

            @media screen and (max-width: 1000px) {

                // display: none;
                button {
                    width: 40px;
                    height: 40px;
                    min-height: 30px;

                    i {
                        font-size: 16px !important;
                    }
                }

            }
        }


    }
}