<section class="app-route">
	<div class="grid m-b-20">
		<div class="width-expand@md flex flex-middle">
			<div class="app-page-title">Queue</div>

		</div>
		<div class="width-auto@md flex flex-middle">
			<button (click)="onClear()" class="button action-outline default flex flex-middle"> Clear Queue
			</button>
		</div>
		<div class="width-auto@md flex flex-middle">
			<button (click)="onClose()" class="button action-outline close default flex flex-middle">
				<i class="feather feather-x"></i>
			</button>
		</div>
	</div>
	<app-track-list [track]="track" *ngFor="let track of tracks"></app-track-list>
</section>