<app-header back="true" title="Now Playing"></app-header>


<div #scrollingBlock>
	<virtual-scroller #scroll [items]="tracks" [parentScroll]="scrollingBlock" [enableUnequalChildrenSizes]="true">

		<div class="now-playing-header">
			<div class="title">
				<div class="app-page-title">Now Playing</div>

			</div>
			<div class="actions">
				<div class="action" (click)="onClear()">
					<i class="feather-trash"></i>

				</div>
			</div>
		</div>

		<div class="now-playing">
			<div class="carousel" *ngIf="tracks.length > 0">

				<swiper #swiper [index]="5" [config]="config" (slideChange)="onSlideChange($event)">
					<ng-container *ngFor="let track of tracks; ">
						<ng-template swiperSlide>
							<div class="album-art">
								<img height="100" class="lazyload"
									[lazyLoad]="track?.album?.picture || '/assets/logo.png'" />

							</div>
						</ng-template>
					</ng-container>
				</swiper>
			</div>

			<div class="track-metadata">
				<div class="track-title">
					{{ track.name }}
				</div>

				<div class="track-artist">
					{{ track.artist }}
				</div>
			</div>

			<div class="seekbar">
				<div class="progress-controls">
					<app-slider [value]="progress" (valueChange)="onProgress($event)">
					</app-slider>
				</div>

			</div>

			<div class="time-controls">
				<div class="time">
					{{currentTime | formatSeconds}}
				</div>

				<div class="time">
					{{(track.duration || 0) | formatSeconds}}
				</div>
			</div>

			<div class="controls">
				<div class="control">
					<button class="button default controls-button {{ track.liked ? 'highlight' : '' }} "
						[attr.data-tooltip]="!track.liked ? 'Add to favourites' : 'Remove from favourites'"
						(click)="onLike($event)">
						<i class="feather feather-heart"></i>

					</button>


				</div>

				<div class="control">
					<button (click)="playerService.onPrev()" class="button default controls-button">
						<i class="feather feather-skip-back"></i>
					</button>
				</div>

				<div class="control">
					<button (click)="playerService.onPlayback()" class="button default controls-button playback">
						<i class="feather {{ playing ? 'feather-pause' : 'feather-play' }}"></i>


					</button>
				</div>

				<div class="control">
					<button (click)="playerService.onNext()" class="button default controls-button">
						<i class="feather feather-skip-forward"></i>

					</button>
				</div>

				<div class="control">

					<app-dropdown #dropdown [config]="{right: true, up: true}" [header]="headerTemplate">
						<ng-template #headerTemplate let-item="item">
							<div (click)="item.onToggle()" class="button default controls-button"><i
									class="material-icons-outlined">
									more_vert
								</i></div>
						</ng-template>

						<div class="dropdown-action-list">


							<a (click)="onPlaylist()">Add to playlist</a>

							<a routerLink="/artists/{{track?.album?.artist?.id}}">More from artist</a>
							<a routerLink="/albums/{{track?.album?.id}}">Go to album</a>





						</div>
					</app-dropdown>
					<!--app-track-options [options]="{queue: false}" [track]="track"></app-track-options-->

				</div>
			</div>
		</div>


		<div #container>

			<app-track-list [track]="track" *ngFor="let track of scroll.viewPortItems">
			</app-track-list>

		</div>
	</virtual-scroller>
</div>