.close {
    font-size: 1.5rem;
}

.action {
    background-color: #09090b;
}

.app-route {
    position: relative;
    // height: 100vh;
    // width: calc(100vw - 40px);

}



.clear-queue {
    width: calc(100% - 40px);
    margin: 20px;
    text-align: center;
    display: block;
}

.now-playing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;



    .album-art {
        margin-top: 20%;

        img {
            width: 250px;
            height: 250px;
            border-radius: 5px;
        }
    }

    .track-metadata {
        flex-grow: 1;
        color: white;
        text-align: center;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .track-title {
            font-size: 1.8rem;
        }

        .track-artist {
            font-size: 14px;
            opacity: 0.6;
        }
    }

    .seekbar {
        padding: 20px;
        height: 15px;
        width: 100%;
        margin-bottom: 15px;
    }

    .time-controls {
        display: flex;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        font-size: 14px;

        .time {
            flex-grow: 1;
            text-align: right;

            &:first-of-type {
                text-align: left;
            }


        }
    }

    .controls {
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        .control {
            padding: 10px;


            .controls-button {
                background-color: transparent;
                height: 50px;
                width: 50px;
                border-radius: 50%;


                &:hover {
                    background-color: rgba(60, 60, 60, 0.3) !important;
                }




                &.highlight {
                    color: #ff0057;
                }

                &.playback {
                    width: 60px;
                    height: 60px;
                    background-color: var(--accent-color) !important;

                    &:focus,
                    &:hover {
                        background-color: var(--accent-color) !important;
                    }

                }

                &.enabled {
                    background: var(--accent-color);
                }
            }

        }
    }
}

@media all and (max-width: 1000px) {
    .app-route {
        margin: 0px;
        height: 100%;

        .album-header,
        .album-overlay {
            border-radius: 0;
        }
    }
}