.playlist {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;

	.grid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
		color: #444;
		margin: 0 auto;
	}

	.playlist-name {
		color: var(--foreground-color);
		font-size: 1rem;
	}

	&:hover {
		cursor: pointer;
		background-color: var(--background-color-4);

		.playlist-name {
			color: var(--foreground-color);
		}
	}
}
