.playlist {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        color: #444;
        margin: 0 auto;
    }


    .album-picture {
        border-radius: 15px;
    }

    .playlist-name {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.4rem;
        margin-top: 20px;
    }

    &:hover {
        cursor: pointer;
        background: rgba(37, 39, 42, 0.18);

        .playlist-name {
            color: rgba(255, 255, 255, 1)
        }
    }
}