.queue {
    h1 {
        margin: 1rem 1rem;
    }

    min-height: var(--app-height);

    .example-viewport {
        height: var(--app-height);
        width: 100%;
    }
}

.cdk-drag-preview {
    // box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

    width: 100%;
    background-color: var(--background-color);

    .order {
        cursor: move;
    }

    .title {
        flex: 2;
    }

    .date {
        flex: 1;
    }

    .categories {
        flex: 1;
    }


    i {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    &.active,
    &:hover {
        background-color: #ebecf0;
        border-radius: 3px;
    }

}

.cdk-drag-placeholder {
    display: none;
}