<div *ngIf="values.length === 0" class="tag-input">
	<input class="input" [ngModelOptions]="{standalone: true }" type="text" placeholder="{{ placeholder }}"
		[(ngModel)]="itemText" (keyup.enter)="onAdd()" name="item" />
</div>


<div *ngIf="values.length > 0" class="dropdown">
	<details>
		<summary>
			<div class=" input dropdown-trigger">
				{{ placeholder }}
			</div>
		</summary>

		<div class="dropdown-content" *ngIf="values.length > 0">
			<ng-container *ngFor="let value of values">

				<div (click)="onAdd(value)" class="value" *ngIf="!isSelected(value)">
					{{ value }}
				</div>

			</ng-container>
		</div>
	</details>
</div>


<div class="tags">


	<ng-container *ngFor="let item of items; let i = index">
		<div class="tag">
			<div class="item">{{ item }}</div>
			<div data-tooltip="Remove item" class="remove" (click)="onRemove(i)"><i class="ph-x"></i></div>
		</div>
	</ng-container>

</div>