.themes {
	display: flex;
	// padding-left: 15px;
	.theme {
		padding: 5px;
		border-radius: 5px;
		background-color: var(--background-color-2);
		color: var(--foreground-color);
		opacity: 0.5;
		& + .theme {
			margin-left: 5px;
		}

		&.active {
			opacity: 1;
			background-color: var(--accent-color);
			color: #fff;
		}
	}
}

.theme {
	svg {
		width: 20px;
		color: #94949f;
		fill: transparent;
		transition: 0.5s;
		cursor: pointer;

		&.active {
			fill: #ffce45;
			stroke: #ffce45;
		}
	}
}
