.loading {
    background-color: var(--background-color);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    cursor: wait;
    z-index: 10;

    display: grid;
    place-content: center;

    &.absolute {
        position: absolute;
    }

}