:host {
	overflow: auto;
	display: block;
	padding-bottom: 60px;
	height: 100vh;
	position: relative;
}

.album {
	&-picture {
	}

	&-details {
		.artist {
		}
	}
}

.tracks {
	box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
	border-radius: 5px;
	background-color: var(--background-color-2);
}

.play-button {
	background-color: var(--accent-color);
	color: white;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 6%);

	&:hover {
		cursor: pointer;
	}

	&:focus {
	}
}
.album-meta {
	padding-bottom: 40px;

	display: flex;
	align-items: center;
	color: var(--foreground-color);

	.album-picture {
		width: 250px;
		height: 250px;
		margin: 20px;

		border-radius: 10px;
		box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
	}

	.details {
		margin: 20px;
	}

	.album-artist {
		color: var(--foreground-color);
		// opacity: 0.5;
		margin-bottom: 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.artist-picture {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 10px;
			box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
		}

		&:hover {
			color: var(--foreground-color);
			opacity: 1;
			cursor: pointer;
		}
	}

	.album-title {
		font-size: 2.7rem;
		color: var(--foreground-color);
		font-weight: 600;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		margin-bottom: 10px;
	}

	.play-all {
		background-color: transparent;
		color: var(--foreground-color);
		border: 1px solid var(--border-color);
		border-radius: 10px;
	}
}

@media all and (max-width: 1000px) {
	.album-meta {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		padding-bottom: 20px;

		.album-title {
			font-size: 1.7rem;
			color: var(--foreground-color);
			font-weight: 600;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			margin-bottom: 10px;
		}

		.album-artist {
			justify-content: center;
		}
	}
}
