<app-header back="true" transparent="true" title="">

</app-header>



<div class="album-meta">
	<div class="picture">
		<img class="album-picture lazyload" [lazyLoad]="album.picture || '/assets/logo.png'" />

	</div>

	<div class="details">
		<div routerLink="/library/artists/{{album?.artist?.id}}" class="album-artist">
			<img class="artist-picture lazyload" [lazyLoad]="album?.artist?.picture || '/assets/logo.png'" />
			{{ album?.artist?.name }}
		</div>

		<div class="album-title">{{ album.name }}</div>
		<div>{{ tracks.length }} Songs; <i appTooltip tooltip="Duration" class="feather-clock"></i> {{ duration |
			formatSeconds }}</div>
		<div (click)="onPlayAlbum()" class="play-button">
			Play</div>
	</div>

</div>

<app-track-list [track]="track" *ngFor="let track of tracks"></app-track-list>