section {
    position: relative;
    height: 100vh;
    // width: calc(100vw - 40px);
    margin: 20px;
    overflow: hidden;

    .album-header {
        // filter: blur(20px);
        height: 100%;
        width: 100%;
        position: absolute;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

    .album-overlay {
        background-color: rgba($color: #000000, $alpha: 0.9);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;

        width: 100%;
        height: 100%;
    }

    .album-meta {
        padding-bottom: 40px;

        .album-picture {
            width: 250px;
            height: 250px;
            margin: 20px;
            border-radius: 10;
        }


        .album-artist {
            color: white;
            opacity: 0.5;

            &:hover {
                color: white;
                opacity: 1;
                cursor: pointer;
            }
        }

        .album-title {
            font-size: 2.7rem;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        .play-all {
            background-color: white;
            color: black;
        }
    }


}