.qr-code {
    height: 400px;
}

.settings-item {
    padding: 15px;
    border-radius: 5px;

    .color-block {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 5px;
        color: white;
    }

    &:hover {
        background: rgba(37, 39, 42, 0.18);
        color: white;
        cursor: pointer;
    }

    .text-white {
        font-size: 1.4rem;
        margin-top: 5px;
    }
}