<section class="app-route">
	<div class="inner-content">

		<div class="app-page-title">Settings</div>



		<section class="settings-item">
			<div class="text-lead">Server</div>
			<div class="text-white">{{httpService.API_ENDPOINT}}</div>
		</section>

		<section class="settings-item">
			<div class="grid">
				<div class="width-expand@md">
					<div class="text-lead">Last Sync</div>
					<div class="text-white">{{server.last_scan | date: 'medium'}}</div>
				</div>

				<div class="width-auto@md">
					<button class="button  danger" (click)="onDisconnect()"><i class="feather-alert-circle"></i>
						Disconnect from server</button>

				</div>
			</div>
		</section>

		<section class="settings-item">
			<div class="text-lead">Duration</div>
			<div class="text-white">{{server.seconds}}s</div>
		</section>

		<section class="settings-item">
			<div class="text-lead">Tracks</div>
			<div class="text-white">{{server.tracks}}</div>
		</section>

		<section class="settings-item">
			<div class="text-lead">Albums</div>
			<div class="text-white">{{server.albums}}</div>
		</section>

		<section class="settings-item">
			<div class="text-lead">Artists</div>
			<div class="text-white">{{server.artists}}</div>
		</section>

		<section class="settings-item">
			<div class="text-lead">Mount</div>
			<div class="text-white">{{server.mount}}</div>
		</section>


		<section class="settings-item">
			<div class="text-lead">Size</div>
			<div class="text-white">{{server.size | size}}</div>
		</section>

		<section class="settings-item">
			<div class="text-lead">Theme</div>


			<app-horizontal-scroll>
				<ng-container *ngFor="let color of colors">
					<div class="color-block" [style.background-color]="color" (click)="setTheme(color)">
						{{ color}}</div>
				</ng-container>
			</app-horizontal-scroll>

		</section>


	</div>
</section>