<app-header transparent="true" title="Settings" [actionTemplate]="actionTemplate">
	<ng-template #actionTemplate>
		<app-dropdown #dropdown [config]="{right: true}" [header]="headerTemplate">
			<ng-template #headerTemplate let-item="item">
				<div (click)="item.onToggle()" class="dropdown-action-item"><i class="material-icons-outlined">
						more_vert
					</i></div>
			</ng-template>

			<div class="dropdown-action-list">

				<a (click)="onDisconnect()">Disconnect</a>


			</div>
		</app-dropdown>
	</ng-template>
</app-header>

<div class="bubbles">
	<div class="bubble">
		<h1>{{ server.tracks || 0 }}</h1>
		<p>Songs</p>
	</div>

	<div class="bubble">
		<h1>{{ server.albums || 0 }}</h1>
		<p>Albums</p>
	</div>

	<div class="bubble">
		<h1>{{ server.artists || 0 }}</h1>
		<p>Artists</p>
	</div>
</div>

<div class="title-action">
	<h3>Theme</h3>

	<div class="float-right">

		<app-theme-toggle></app-theme-toggle>

	</div>
</div>
<div class="theme">
	<app-horizontal-scroll>
		<ng-container *ngFor="let color of colors">
			<div class="color-block" [style.background-color]="color" (click)="setTheme(color)">
				{{ color}}</div>
		</ng-container>
	</app-horizontal-scroll>
</div>
<h3>Server</h3>

<div class="list">
	<div class="list-item">
		<div class="text-lead">Last Sync</div>
		<div class="text-meta">{{server.last_scan | date: 'medium'}}</div>
	</div>

	<div class="list-item">
		<div class="text-lead">Duration</div>
		<div class="text-meta">{{server.seconds}}s</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Size</div>
		<div class="text-meta">{{server.size | size}}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Mount</div>
		<div class="text-meta">{{server.mount}}</div>
	</div>

	<div *ngIf="api_key" class="list-item">
		<div class="text-lead">API Key</div>
		<div class="text-meta">{{api_key}}</div>
	</div>

	<div *ngIf="api_key" class="list-item">
		<div class="text-lead">Host</div>
		<div class="text-meta">{{ httpService.API_ENDPOINT }}</div>
	</div>

	<div class="list-item">
		<div class="text-lead">Uptime</div>
		<div class="text-meta">{{ server.uptime }}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Free Mem</div>
		<div class="text-meta">{{ server.free_mem }}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Server</div>
		<div class="text-meta">CPU: {{ server.arch }}, Runtime: {{ server.node_version }}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Version</div>
		<div class="text-meta">{{ server.version }}</div>
	</div>

	<div routerLink="/settings/upload" class="list-item">
		<div class="text-lead">Upload</div>
	</div>
</div>