.text-center {
	padding: 15px;
	text-align: center;
}

button.button.default.close-item {
	border-color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.input {
	&:focus {
		border-bottom: 1px solid #797979;
	}
	&.select {
		appearance: none;
		/* SVG background image */
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
		background-size: 0.6em;
		background-position: calc(100% - 1.3em) center;
		background-repeat: no-repeat;
		line-height: 1.1;
		background-color: white;
	}

	/*box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px,
    rgba(19, 20, 20, 0.06) 0 1px 1px;*/

	&.focus {
		box-shadow: #435eea 0px 0px 0px 1px;
		border: 1px solid #435eea;
		outline: none;
		background-color: white;

		border-image: initial;
	}

	ul.multiple-items {
		padding: 0;
		margin: 0;
		// overflow-x: auto;

		li {
			list-style: none;
			cursor: pointer;
			display: inline-block;

			padding-left: 10px;
			padding-right: 10px;
			height: 35px;
			line-height: 35px;

			background-color: lighten($color: #eee, $amount: 4.7);

			&:hover {
				background: #eee;
				border-radius: 5px;
			}

			&:first {
				margin-left: -5px;
			}

			& + li {
				margin-left: 5px;
			}
		}
	}
}

virtual-scroller {
	width: 100%;
	max-height: 300px;
}

.autocomplete {
	position: relative;

	/*&.search {
        .results {
            top: 0;
        }
    }*/

	.results {
		position: absolute;
		background: white;
		width: 100%;
		padding: 0px;

		border: 1px solid #eaeaea;
		margin-top: 5px;
		display: none;
		z-index: 5;
		border-radius: 5px;
		background: rgb(255, 255, 255);

		box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

		&.visible {
			display: block;
		}

		.items {
			.item {
				&:first-of-type {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:last-of-type {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				display: block;
				padding: 10px;
				width: 100%;
				height: 50px;
				margin: 0px;
				text-align: left;
				&:hover {
					cursor: pointer;
					background: darken(#fff, 1.7);
				}
				&.is-grid {
					display: inline-block;
					padding: 10px;
					width: calc((100% / 4) - 30px);
					height: 50px;
					margin: 15px;
					text-align: center;
					&:hover {
						cursor: pointer;
						background: darken(#fff, 1.7);
					}
				}
			}
		}
		ul {
			max-height: 400px;
			overflow-y: auto;
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 15px;
				padding-bottom: 15px;

				border-bottom: 1px solid #eee;

				&:hover {
					cursor: pointer;
					background: darken(#fff, 1.7);
				}
			}
		}

		input {
			border: none;

			padding: 20px;
			background-color: white;
			border-bottom: 1px solid #eeeeee;
			// height: 60px;

			&:focus {
				box-shadow: none;
			}
		}

		.close-item {
			position: absolute;
			top: 0;
			right: 0;
			height: 60px;
			background: none;
			border: none;
		}
	}
}
