<div class="autocomplete {{ config.search ? 'search' : '' }}">
	<div (click)="onToggle()" readonly="true" placeholder="Address"
		class="input select {{isOpen ? 'focus' : ''}} {{ color }}">
		<ng-container *ngIf="selected !== undefined">
			<ng-container *ngIf="config.multiple">
				<ul class="multiple-items">
					<li *ngFor="let item of _selectedItems; let i = index" (click)="onRemoveItem(i)">
						{{item}}
					</li>
				</ul>
			</ng-container>

			<ng-container *ngIf="!config.multiple">
				{{ _selectedItems }}
			</ng-container>
		</ng-container>


		<ng-container *ngIf="!_selectedItems || _selectedItems.length === 0">
			<span class="placeholder" style="opacity: 0.4;">{{placeholder}}</span>
		</ng-container>

		<input style="width: 0; height: 0; opacity: 0; position: absolute;" [required]="required"
			[(ngModel)]="_selectedItems" />

	</div>


	<div class="results {{isOpen ? 'visible' : '' }}">
		<input id="searchField" *ngIf="config.search" #searchField placeholder="Search" class="input "
			[ngModelOptions]="{standalone: true}" [(ngModel)]="search" autocomplete="off"
			(ngModelChange)="onSearch($event)" />
		<button *ngIf="_selectedItems?.length > 0 && config.clear" (click)="onClear()"
			class="button default close-item"><span uk-icon="close"></span></button>


		<div class="items" *ngIf="_mappedItems && _mappedItems.length > 0">

			<virtual-scroller #scroll [items]="_mappedItems" [ngStyle]="{'height.px': _mappedItems.length * 50}">
				<ng-container *ngFor="let item of scroll.viewPortItems">
					<div class="item " *ngIf="(config.multiple && !_selectedItems.includes(item)) || !config.multiple"
						(click)="onSelect(item)">


						<ng-container [ngTemplateOutlet]="template ? template : basic"
							[ngTemplateOutletContext]="{item:item}">
						</ng-container>

						<ng-template #basic>
							{{item}}
						</ng-template>
					</div>
				</ng-container>


			</virtual-scroller>



			<!--cdk-virtual-scroll-viewport style="height: 220px" itemSize="55">

				<ng-container *cdkVirtualFor="let item of _mappedItems;let i = index">
					<div class="item" *ngIf="(config.multiple && !_selectedItems.includes(item)) || !config.multiple"
						(click)="onSelect(item)">


						<ng-container [ngTemplateOutlet]="template ? template : basic"
							[ngTemplateOutletContext]="{item:item}">
						</ng-container>

						<ng-template #basic>
							{{item}}
						</ng-template>
					</div>
				</ng-container>
			</cdk-virtual-scroll-viewport-->
		</div>

		<!--ul *ngIf="_mappedItems && _mappedItems.length > 0">

			<cdk-virtual-scroll-viewport style="height: 220px" itemSize="55">
				<ng-container *cdkVirtualFor="let item of _mappedItems;let i = index">
					<li *ngIf="(config.multiple && !_selectedItems.includes(item)) || !config.multiple"
						(click)="onSelect(item)">


						<ng-container [ngTemplateOutlet]="template ? template : basic"
							[ngTemplateOutletContext]="{item:item}">
						</ng-container>

						<ng-template #basic>
							{{item}}
						</ng-template>
					</li>
				</ng-container>
			</cdk-virtual-scroll-viewport>


		</ul-->

		<!--div class="p-10 text-center"
			*ngIf="_mappedItems.length === 0 || _itemsCache.length === 0 || _selectedItems?.length === _mappedItems?.length">
			Nothing to select</div-->
	</div>