<app-header title="Tracks" [actionTemplate]="actionTemplate">

	<ng-template #actionTemplate>



		<app-dropdown #dropdown [config]="{right: true}" [header]="headerTemplate">
			<ng-template #headerTemplate let-item="item">
				<div (click)="item.onToggle()" class="dropdown-action-item"><i class="material-icons-outlined">
						more_vert
					</i></div>
			</ng-template>

			<div class="dropdown-action-list">
				<a (click)="onPlay()">Play <i class="feather-play"></i></a>
				<div class="divider no-margin"></div>

				<a (click)="onSort('name')">Sort by name</a>
				<a (click)="onSort('created_at')">Sort by date</a>

				<div class="divider no-margin"></div>

				<!--a (click)="onSort()">Sort <i *ngIf="filter.sort" class="feather-chevrons-down"></i>

					<i *ngIf="!filter.sort" class="feather-chevrons-up"></i>
				</a-->

				<div class="divider no-margin"></div>
				<a (click)="onLiked()">Favourites <i class="feather-heart"></i>
				</a>

				<a (click)="onGenre()">Genre</a>

				<a (click)="onPlaylist()">Playlist</a>

				<div class="divider no-margin"></div>
				<a (click)="onLimit()">{{ pagination.limit }}
				</a>
			</div>
		</app-dropdown>
	</ng-template>
</app-header>

<div class="filters">
	<app-horizontal-scroll>
		<div (click)="onLimit()" class="filter">
			Limit: {{ pagination.limit }}
		</div>
		<div *ngIf="filter.liked" (click)="onLiked()" class="filter">
			Favourites <i class="feather-x"></i>
		</div>
		<div *ngIf="filter.genre" (click)="onClearGenre()" class="filter">
			{{ genre?.name }} <i class="feather-x"></i>
		</div>

		<div *ngIf="filter.playlist" (click)="onClearPlaylist()" class="filter">
			{{ playlist?.name }} <i class="feather-x"></i>
		</div>
	</app-horizontal-scroll>
</div>

<virtual-scroller [checkResizeInterval]="200" (vsEnd)="onScroll($event)" #scroll [items]="tracks"
	[ngStyle]="{'height.px': (hostHeight$ | async)- 105 }">


	<div *ngFor="let track of scroll.viewPortItems; ">
		<app-track-list [track]="track"></app-track-list>
	</div>
</virtual-scroller>