.filters {
	list-style: none;
	padding: 0;
	.filter {
		margin-bottom: 15px;
		margin-top: 0px;
		&:first-of-type {
			// background: blue !important;
			margin-left: 15px;
		}

		&:last-of-type {
			// background: red !important;
			margin-right: 15px;
		}
		display: flex;
		align-items: center;
		border-radius: 5px;
		background-color: var(--background-color-4);
		// backdrop-filter: blur(50px);
		color: var(--foreground-color);
		padding: 10px;
		i {
			padding-left: 5px;
		}
		&.inactive {
			color: var(--foreground-color);
		}

		&:hover {
			color: var(--accent-color);
			cursor: pointer;
		}

		& + .filter {
			margin-left: 10px;
		}
	}
}
cdk-virtual-scroll-viewport {
	width: 100%;
	height: calc(100vh - 128px);
}

@media all and (max-width: 1000px) {
	cdk-virtual-scroll-viewport {
		/*width: 100%;
		left: 0;
		height: calc(100% - 120px);
		position: fixed;
		overflow: auto;*/
		width: 100%;
		height: calc(100vh - 188px);
	}
}
