<div class="app-audio-visualizer" [style.backgroundImage]="'url(' + track?.album?.picture + ')'">
	<div class="layout">

		<div class="container mx-auto" #trackDetails>

			<img class="album-picture" [src]="track?.album?.picture" />
			<div class="album-name">{{ track.album.name }}</div>
			<div class="track-name">{{ track.name }}</div>
			<div class="artist-name">{{ track.artist }}</div>

			<div class="app-player-controls">
				<div class="grid">
					<div class="width-auto@md flex flex-middle">
						<div class="text-white">
							{{currentTime | formatSeconds}}
						</div>
					</div>

					<div class="width-expand@md flex flex-middle">
						<div (click)="onProgress($event)" class="slider">
							<div [style.width]="progress + '%'" class="range"></div>
						</div>
					</div>

					<div class="width-auto@md flex flex-middle">
						<div class="text-white">
							{{(track.duration || 0) | formatSeconds}}
						</div>
					</div>

				</div>
			</div>
			<div class="controls">

				<button (click)="playerService.onPrev()" class="button default controls-button">
					<i class="feather feather-skip-back"></i>
				</button>
				<button (click)="playerService.onPlayback()" class="button controls-button default">
					<i class="feather {{ playing ? 'feather-pause' : 'feather-play' }}"></i>
				</button>
				<button (click)="playerService.onNext()" class="button default controls-button">
					<i class="feather feather-skip-forward"></i>

				</button>
				<button (click)="onClose()" class="button default controls-button">
					<i class="feather feather-maximize-2"></i>

				</button>

			</div>
			<canvas id="canvas"></canvas>
		</div>
	</div>

	<!--div class="layout flex flex-center flex-middle">
		<div class="track-details">


			<div class="grid">
				<div class="width-6@md width-1@s flex flex-middle">
					<div class="track-meta">
						<lottie-player src="/assets/data.json" background="transparent" speed="1"
							style="width: 100%; height: 300px;" loop autoplay>
						</lottie-player>
						<div class="track-artist">{{ track.artist }}</div>
						<div class="track-title">{{ track.name }}</div>
						<div class="controls">

							<button (click)="playerService.onPrev()" class="button default controls-button">
								<i class="feather feather-skip-back"></i>
							</button>
							<button (click)="playerService.onPlayback()"
								class="button controls-button default playback">
								<i class="feather {{ playing ? 'feather-pause' : 'feather-play' }}"></i>
							</button>
							<button (click)="playerService.onNext()" class="button default controls-button">
								<i class="feather feather-skip-forward"></i>

							</button>
							<button (click)="onClose()" class="button default controls-button">
								<i class="feather feather-maximize-2"></i>

							</button>

						</div>
					</div>
				</div>

				<div class="width-6@md width-12@s">
					<img class="album-picture" [src]="track?.album?.picture" />
					<div class="app-player-controls">
						<div class="grid">
							<div class="width-auto@md flex flex-middle">
								<div class="text-white">
									{{currentTime | formatSeconds}}
								</div>
							</div>

							<div class="width-expand@md flex flex-middle">
								<div (click)="onProgress($event)" class="slider">
									<div [style.width]="progress + '%'" class="range"></div>
								</div>
							</div>

							<div class="width-auto@md flex flex-middle">
								<div class="text-white">
									{{(track.duration || 0) | formatSeconds}}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div-->


	<!--div class="container mx-auto">
		<div class="track-details">
			<lottie-player src="/assets/data.json" background="transparent" speed="1"
				style="width: 100%; height: 300px;" loop autoplay>
			</lottie-player>
			<img class="album-picture" [src]="track?.album?.picture" />

			<div class="track-artist">{{ track.artist }}</div>
			<div class="track-title">{{ track.name }}</div>
		</div>
		<div class="app-player-controls">
			<div class="controls">
				<button (click)="onLike()"
					class="button default controls-button {{ track.liked ? 'highlight' : ''}}">
					<i class="feather feather-heart"></i>

				</button>
				<button (click)="playerService.onPrev()" class="button default controls-button">
					<i class="feather feather-skip-back"></i>
				</button>
				<button (click)="playerService.onPlayback()" class="button controls-button default playback">
					<i class="feather {{ playing ? 'feather-pause' : 'feather-play' }}"></i>
				</button>
				<button (click)="playerService.onNext()" class="button default controls-button">
					<i class="feather feather-skip-forward"></i>

				</button>
				<button (click)="onClose()" class="button default controls-button">
					<i class="feather feather-maximize-2"></i>

				</button>
			</div>

			<div class="grid">
				<div class="width-auto@md flex flex-middle">
					<div class="text-white">
						{{currentTime | formatSeconds}}
					</div>
				</div>

				<div class="width-expand@md flex flex-middle">
					<div (click)="onProgress($event)" class="slider">
						<div [style.width]="progress + '%'" class="range"></div>
					</div>
				</div>

				<div class="width-auto@md flex flex-middle">
					<div class="text-white">
						{{(track.duration || 0) | formatSeconds}}
					</div>
				</div>

			</div>
		</div>
	</div>
	<canvas id="canvas"></canvas-->
</div>