<section class="app-route">
	<div class="grid">
		<div class="width-expand@md">
			<div>
				<div class="app-page-title">Favourites</div>
			</div>

		</div>
		<div class="width-auto@md ">
			<button (click)="onPlayAll()" class="button action default play-all flex flex-middle">
				Play All Tracks
			</button>
		</div>
	</div>
	<infinite-scroll (scrolled)="onScroll()">

		<app-track-list [track]="track" *ngFor="let track of tracks"></app-track-list>
		<div class="flash primary" *ngIf="loading">
			Loading tracks...
		</div>
	</infinite-scroll>
</section>