<section class="app-route">
	<div class="app-page-title">Search</div>
	<div class="p-10">


		<input (keyup)="onSearch($event)" [(ngModel)]="search" autocomplete="off" class="search-input" type="text"
			placeholder="Search Music, Albums, Tracks" />
	</div>

	<ng-container *ngIf="result.artists.length > 0">

		<div class="section-title">Artists</div>

		<app-horizontal-scroll>
			<ng-container *ngFor="let artist of result.artists">
				<app-artist-list [size]="'sm'" [artist]="artist"></app-artist-list>

			</ng-container>
		</app-horizontal-scroll>

	</ng-container>

	<ng-container *ngIf="result.albums.length > 0">

		<div class="section-title">Albums</div>
		<div class="is-mobile">


			<app-horizontal-scroll>
				<ng-container *ngFor="let album of result.albums">
					<app-album-list [album]="album"></app-album-list>
				</ng-container>
			</app-horizontal-scroll>
		</div>
		<div class="is-desktop">

			<div class="grid">
				<div class="width-3@lg width-4@md width-6@sm" *ngFor="let album of result.albums">
					<app-album-list [album]="album"></app-album-list>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="result.tracks.length > 0">


		<div class="section-title">Tracks</div>
		<div class="grid ">
			<div class="width-3@lg width-4@md width-6@sm" *ngFor="let track of result.tracks">
				<app-track-list [track]="track"></app-track-list>
			</div>
		</div>

	</ng-container>

</section>