<section class="app-route">
	<div class="inner-content">

		<div class="p-10">
			<input (keyup)="onSearch($event)" [(ngModel)]="search" autocomplete="off" class="search-input" type="text"
				placeholder="Search Music, Albums, Tracks" />
		</div>


		<ng-container *ngIf="loading.playlists">
			<app-shiner margin="0px 0px 5px 0px" height="10px" width="100px"></app-shiner>
			<app-shiner margin="0px 0px 20px 0px" height="10px" width="100px"></app-shiner>


			<app-horizontal-scroll>
				<app-shiner margin="0px 0px 5px 0px" height="30px" width="100px"></app-shiner>

				<app-shiner margin="0px 0px 5px 10px" height="30px" width="100px"></app-shiner>
			</app-horizontal-scroll>
		</ng-container>

		<ng-container *ngIf="playlists.length > 0">

			<h3>Playlists</h3>

			<div class="playlists">
				<app-horizontal-scroll>
					<ng-container *ngFor="let playlist of playlists">
						<div *ngIf="playlist.id === 'FAVOURITES'" class="playlist" routerLink="/tracks"
							[queryParams]="{liked: true}">
							{{ playlist.name }}</div>

						<div *ngIf="playlist.id !== 'FAVOURITES'" class="playlist" routerLink="/tracks"
							[queryParams]="{playlist: playlist.id}">
							{{ playlist.name }}</div>
					</ng-container>
				</app-horizontal-scroll>

			</div>


		</ng-container>

		<ng-container *ngIf="loading.artists">
			<lines class="shine"></lines>
			<lines class="shine"></lines>

			<app-horizontal-scroll>

				<div class="artists">
					<box class="shine"></box>
					<box class="shine"></box>
					<box class="shine"></box>
				</div>
			</app-horizontal-scroll>
		</ng-container>


		<ng-container *ngIf="result.artists.length > 0">

			<h3 routerLink="/library?tab=artists">Artists</h3>
			<div class="artists">
				<swiper [config]="config">
					<ng-container *ngFor="let artist of result.artists; ">
						<ng-template swiperSlide>
							<div routerLink="/library/artists/{{ artist.id }}" class="artist">
								<img class="lazyLoad" [src]="artist.picture || '/assets/app-icon-text.png'" />
								<div class="column-details">
									<div class="title">{{ artist.name }}</div>
								</div>
							</div>
						</ng-template>
					</ng-container>
				</swiper>
			</div>



		</ng-container>

		<ng-container *ngIf="loading.albums">

			<lines class="shine"></lines>
			<lines class="shine"></lines>

			<app-horizontal-scroll>

				<div class="artists">
					<box class="shine"></box>
					<box class="shine"></box>
					<box class="shine"></box>
				</div>
			</app-horizontal-scroll>
		</ng-container>

		<ng-container *ngIf="result.albums.length > 0">

			<h3 routerLink="/library?tab=albums">Albums</h3>
			<!--div class="scrollable">
				<app-horizontal-scroll>
					<ng-container *ngFor="let album of result.albums; ">
						<div routerLink="/library/albums/{{ album.id }}" class="image-element">
							<img class="lazyLoad" [lazyLoad]="album.picture" />

							<div class="column-details">
								<div class="title">{{ album.name }}</div>
								<div class="subtitle">{{ album.artist.name }}</div>
							</div>
						</div>
					</ng-container>
				</app-horizontal-scroll>
			</div-->
			<div class="albums">
				<swiper [config]="config">
					<ng-container *ngFor="let album of result.albums; ">
						<ng-template swiperSlide>
							<div routerLink="/library/albums/{{ album.id }}" class="album">
								<img class="lazyLoad" [src]="album.picture || '/assets/app-icon-text.png'" />
								<div class="column-details">
									<div class="title">{{ album.name }}</div>
									<div class="subtitle">{{ album.artist.name }}</div>
								</div>
							</div>
						</ng-template>
					</ng-container>
				</swiper>
			</div>
		</ng-container>

		<ng-container *ngIf="loading.tracks">
			<lines class="shine"></lines>

			<lines class="shine"></lines>
			<lines class="shine"></lines>
		</ng-container>


		<ng-container *ngIf="result.tracks.length > 0">


			<div class="title-action">
				<h3>Tracks</h3>

				<div class="float-right">


					<div (click)="onPlayTracks()" class="play-button">
						Play</div>
				</div>
			</div>

			<div class="grid ">
				<div class="width-4@lg width-6@md width-6@sm" *ngFor="let track of result.tracks">
					<app-track-list [track]="track"></app-track-list>
				</div>
			</div>

		</ng-container>
	</div>

	<!--app-player></app-player-->

</section>