/* Dropup Button */
.controls-button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
        background-color: rgba(60, 60, 60, 0.3);
    }
}

.dropup {
    position: relative;
    display: inline-block;

    &:hover {
        .dropup-content {
            // display: block;
            opacity: 1;
            visibility: visible;



        }
    }
}

.dropup-content {
    visibility: hidden;
    position: absolute;
    opacity: 0;

    bottom: 0px;
    right: 0px;
    background-color: #0a0a0c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);

    a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        &:hover {
            background-color: #4caf50
        }
    }
}