<div class="dropup">
	<button class="button default controls-button"><i class="feather-more-vertical"></i> </button>
	<div class="dropup-content">
		<a (click)="onPlaylist()">Add to playlist</a>
		<a *ngIf="options.queue" (click)="onQueue()">Add to queue</a>

		<a routerLink="/artists/{{track?.album?.artist?.id}}">More from artist</a>
		<a routerLink="/albums/{{track?.album?.id}}">Go to album</a>
		<a target="_blank" href="{{httpService.API_ENDPOINT}}/tracks/play/{{ track.id }}"
			download="{{track.name}}.mp3">Download</a>

	</div>
</div>