<div [ngStyle]="{  'width.px': width, 'height.px': height}" class="user-avatar">


	<ng-container *ngIf="picture">
		<img [ngStyle]="{  'width.px': width, 'height.px': height,   'border-radius': borderRadius }" class="lazyload"
			[height]="height" [width]="width" [lazyLoad]="picture || '/assets/svg/icons/Avatar-02.svg'" />
	</ng-container>
	<ng-container *ngIf="!picture && name">
		<div [ngStyle]="{ 'width.px': width, 'height.px': height, 'border-radius': borderRadius }" class="box">
			{{ name[0] }}
		</div>
		<span *ngIf="verified" class="gg-check-o"></span>
	</ng-container>
</div>