.user-avatar {
    position: relative;

    img {
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid white;
    }

    .box {
        text-align: center;
        display: grid;
        place-content: center;
        border-radius: 50%;
        background-color: var(--accent-color);
        color: white;
        margin: 0 auto;
    }

    span {
        background: #03a9f4;
        color: white;
        padding: 5px;
        height: 16px;
        width: 16px;
        font-size: 8px;
        border-radius: 50px;
        position: absolute;
        bottom: 0px;
        right: -3px;
    }

    .gg-check-o {
        box-sizing: border-box;
        position: absolute;
        display: inline-block;
        transform: scale(var(--ggs, 1));
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-color: white;
        border-radius: 100px;
    }

    .gg-check-o::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 7px;
        border-color: currentColor;
        border-width: 0 2px 2px 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(45deg);
    }
}