.route-modal {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-color: var(--background-color);
}

.modal-container {
    padding-left: 15px;
    padding-right: 15px;
}