<div class="connect">
	<div class="window">
		<div class="logo">
			<img src="/assets/app-icon-text.png" />
		</div>

		<div class="highlight-text">Connect to your Auddly server</div>
		<div *ngIf="error" class="panel danger m-t-20 m-b-20">
			{{error}}
		</div>

		<form (ngSubmit)="connect()" ngNativeValidate>

			<div class="connect-input">
				<input required placeholder="Server endpoint" type="text" [(ngModel)]="connection.endpoint"
					name="endpoint">
			</div>


			<div *ngIf="step === 1" class="connect-input">
				<input required placeholder="API key" type="text" [(ngModel)]="connection.key" name="key">
			</div>
			<button>Continue <i class="feather-arrow-right"></i></button>
		</form>
	</div>
</div>