.playlists {
	.playlist {
		padding: 15px;
		margin-bottom: 15px;
		border-radius: 5px;

		display: flex;
		align-items: center;

		.playlist-name {
			color: var(--foreground-color);
			flex-grow: 1;
		}

		.playlist-actions {
			color: var(--foreground-color);
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.library {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	gap: 10px;
	padding-top: 20px;
	.column {
		margin: 0 auto;
		position: relative;
		&:hover {
			img {
				transform: scale(1.1);
				cursor: pointer;
			}
		}
		img {
			transition: all ease-in-out 0.3s;

			object-fit: cover;
			width: 170px;
			height: 170px;
			border-radius: 5px;
			box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
		}

		&-name {
			position: absolute;
			color: white;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: 500;
			font-size: 1rem;
			background-color: black;
			padding: 5px;
		}

		&-details {
			bottom: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			.title {
				color: var(--foreground-color);
				font-size: 14px;
			}

			.subtitle {
				color: var(--foreground-color);
				opacity: 0.7;
				font-size: 12px;
			}
		}
	}
}

.tabs {
	position: sticky;
	background-color: var(--background-color);
	border-radius: 0px;
	display: flex;
	top: -1px;
	flex-direction: row;
	width: 100%;
	z-index: 5;
	padding: 15px;
	left: 0;
	.tab {
		flex-grow: 1;
		text-align: center;
		flex-basis: 0;
		z-index: 2;
		padding: 10px;
		color: var(--foreground-color);
		border-radius: 5px;
		&:hover {
			cursor: pointer;
		}

		&.active {
			color: var(--foreground-color);
			background-color: var(--background-color-3);
		}
	}
}
