:host {
    display: block
}

div {
    background-color: #292929;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
}

:host-context(.top) {
    margin-bottom: 0.5rem;
}

:host-context(.bottom) {
    margin-top: 0.5rem;
}