<section class="app-player-controls">
	<div class="grid">

		<div class="width-auto@md flex flex-middle">
			<button (click)="playerService.onPrev()" class="button default controls-button">
				<i class="feather feather-skip-back"></i>
			</button>
		</div>

		<div class="width-auto@md flex flex-middle">
			<button (click)="playerService.onPlayback()" class="button default playback-button">
				<i class="feather {{ playing ? 'feather-pause' : 'feather-play' }}"></i>


			</button>
		</div>

		<div class="width-auto@md flex flex-middle">
			<button (click)="playerService.onNext()" class="button default controls-button">
				<i class="feather feather-skip-forward"></i>

			</button>
		</div>

		<div class="width-auto@md flex flex-middle">
			<div class="text-white">
				{{currentTime | formatSeconds}}
			</div>
		</div>

		<div class="width-expand@md flex flex-middle">
			<div (click)="onProgress($event)" class="slider">
				<div [style.width]="progress + '%'" class="range"></div>
			</div>
		</div>

		<div class="width-auto@md flex flex-middle">
			<div class="text-white">
				{{(track.duration || 0) | formatSeconds}}
			</div>
		</div>

		<div class="width-2@md">
			<div routerLink="/queue" class="app-playlist-queue">
				<div class="grid">
					<div class="width-auto@md flex flex-middle">
						<img style="width: 50px;" src="{{track?.album?.picture}}" />
					</div>
					<div class="width-expand@md flex flex-middle">
						<div>

							<div class="text-white">
								{{track?.artist}}
							</div>
							<div class="text-white">
								{{track?.name}}
							</div>
						</div>
					</div>
					<div class="width-auto@md flex flex-middle">
						<div>
							<i class="text-white text-center feather feather-chevron-up"></i>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>