<div class="player">
	<div class="player-metadata">
		<div class="image">
			<img class="lazyload" style="width: 50px;"
				[lazyLoad]="track?.album?.picture || '/assets/app-icon-text.png'" />
		</div>

		<div class="details">
			<div routerLink="/library/artists/{{track?.album?.artist?.id}}" class="artist">
				{{ track.artist }}
			</div>

			<div routerLink="/library/albums/{{track?.album?.id}}" class="name">
				{{ track.name }}
			</div>
		</div>

	</div>

	<div class="divider"></div>
	<div class="player-controls">


		<div class="controls">
			<button class="button default controls-button {{ track.liked ? 'liked' : '' }} " (click)="onLike($event)">
				<i class="feather feather-heart"></i>


			</button>
		</div>


		<div class="controls">
			<button (click)="playerService.repeat = !playerService.repeat"
				class="button default {{ playerService.repeat ? 'enabled' : ''}} controls-button "
				[attr.data-tooltip]="'Repeat'">
				<i class="feather-repeat"></i>

			</button>
		</div>

		<div class="controls">
			<button (click)="playerService.onPrev()" class="button default controls-button">
				<i class="feather feather-skip-back"></i>
			</button>
		</div>

		<div class="controls">
			<button (click)="playerService.onPlayback()" class="button default controls-button playback">
				<i class="feather {{ playing ? 'feather-pause' : 'feather-play' }}"></i>


			</button>
		</div>
		<div class="controls">
			<button (click)="playerService.onNext()" class="button default controls-button">
				<i class="feather feather-skip-forward"></i>

			</button>
		</div>

		<div class="controls">
			<div class="volume-controls">
				<button class="button default controls-button ">
					<i *ngIf="volume === 0" class="feather-volume-x"></i>
					<i *ngIf="volume <= 20 && volume > 0" class="feather-volume"></i>
					<i *ngIf="volume < 50 && volume > 20" class="feather-volume-1"></i>
					<i *ngIf="volume >= 50" class="feather-volume-2"></i>
				</button>
				<div class="volume-controls-content">
					<app-slider [options]="{ vertical: true }" [value]="volume" (valueChange)="onVolume($event)">
					</app-slider>
				</div>
			</div>

		</div>





		<div class="controls">
			<app-dropdown #dropdown [config]="{left: true}" [header]="headerTemplate">
				<ng-template #headerTemplate let-item="item">
					<button (click)="item.onToggle()" class="button default controls-button"><i
							class="feather-more-vertical">

						</i></button>
				</ng-template>

				<div class="dropdown-action-list">
					<a (click)="onPlaylist()">Add to playlist</a>

					<a routerLink="/library/artists/{{track?.album?.artist?.id}}">More from artist</a>
					<a routerLink="/library/albums/{{track?.album?.id}}">Go to album</a>
				</div>
			</app-dropdown>
		</div>


	</div>

	<div class="player-progress">
		<div class="time">
			{{currentTime | formatSeconds}}
		</div>


		<div class="progress">
			<app-slider [value]="progress" (valueChange)="onProgress($event)"></app-slider>
		</div>



		<div class="time">
			{{(track.duration || 0) | formatSeconds}}
		</div>
	</div>
</div>