.hidden {
    display: none;
}


.host {
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%),
        0 5px 15px 0 rgb(0 0 0 / 5%);
    background-color: var(--background-color-4);
    border-radius: 20px;
    min-width: 300px;
    position: relative;

    @media all and (max-width: 1000px) {

        box-shadow: none;
        border-radius: 0px 0px 0px;
        background: #0e0e0e;
        color: white;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }

}

.player {
    position: relative;
    // padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    color: var(--foreground-color);


    &-metadata {
        padding: 10px;
        display: grid;
        grid-template-columns: auto 1fr;
        overflow: hidden;
        touch-action: none;
        white-space: nowrap;
        text-overflow: ellipsis;

        &-image {
            display: grid;
            place-items: center;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            border-radius: 5px;

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }

        &-details {
            display: grid;
            align-items: center;

            h3 {
                font-size: 14px;
                margin: 0px;
            }

            p {
                margin: 0px;
                font-size: .7rem;
                opacity: 0.8;
            }

            &-artist {
                font-size: 12px;
                opacity: 0.6;
                padding-top: 5px;
                padding-bottom: 0px;
            }

            &-name {
                opacity: 0.8;

                margin-top: -5px;
                font-size: 14px;
            }
        }
    }

    &-actions {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        &-action {
            background-color: transparent;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            span {
                font-size: 1.7rem;
            }

            svg {
                position: absolute;
                left: 0;
                top: 0;
                transform: rotate(-90deg);

                .progress-ring {
                    stroke: var(--accent-color);
                    transition: stroke-dashoffset 1s linear;
                    /*stroke-dashoffset: 0;
					transition: stroke-dashoffset 1s linear;
					stroke: #666;
					stroke-width: 2;*/
                }
            }
        }
    }
}

.like {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;

    &.active {
        color: red;
    }
}

.player-el {

    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow-y: auto;
    padding: 0 10px;
    width: 100%;


    @media all and (max-width: 1000px) {}

    &-details {
        grid-area: player-details;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;


    }

    .image {
        grid-area: image;
        display: grid;
        place-content: center;
        aspect-ratio: 1;
        margin: 15px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            aspect-ratio: 1;
            max-width: 500px;
            max-height: 500px;
            object-fit: cover;
        }
    }


    .progress {
        grid-area: progress;

        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        // margin-top: 1rem;
        margin: 10px 0px;
        width: 100%;

        .time {
            opacity: 0.5;
            font-size: 0.8rem;
        }
    }

    .controls {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: 1rem;

        button {
            height: 40px;
            width: 40px;
            min-height: 40px;
            min-width: 40px;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &.playback {
                background-color: var(--accent-color);
                height: 50px;
                width: 50px;
                min-height: 50px;
                min-width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            &.small {
                font-size: 14px !important;
                opacity: 0.6;


            }



            &.active {
                opacity: 1;
                color: var(--accent-color);
            }
        }
    }

}