.app-player-controls {
    padding: 20px;

    .slider {

        width: 100%;
        background: #131313;
        height: 5px;
        border-radius: 5px;
        transition: height 0.15s ease-out;

        &:hover {
            height: 15px !important;
        }

        .range {
            width: 0;
            background: #4CAF50;
            height: 100%;
            border-radius: 5px;
        }
    }

    .controls-button {
        background: #0a0a0a;
        height: 50px;
        width: 50px;
        border-radius: 50%;


        &.highlight {
            color: #ff0057;
        }

        &.playback {
            background: #4CAF50;

        }
    }



    .app-playlist-queue {
        padding: 10px;
        width: 340px;
        border-radius: 5px;

        // background: #131313;

        &:focus {
            outline: none;
        }

        &:hover {
            background: #4CAF50;
            cursor: pointer;
        }

        .max-200 {
            max-width: 200px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }


}