/*.button {
    background: white;
    padding: 15px;
    position: relative;
    border: 2px solid #f4f4f4;
    border-radius: $base-border-radius;
    transition: all .4s ease-in-out;
    outline: none;
    box-shadow: 0 2px 4px rgba(17, 17, 18, .02), 0 1px 1px rgba(19, 20, 20, .02);

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        border: 2px solid black;
        cursor: pointer;
    }

    &.block {
        width: 100%;
        display: block;
    }

    &.primary {
        background-color: aqua;
    }

    &.invert {
        background-color: black;
        color: white;
        border: 2px solid black;

        &:hover {
            background-color: lighten($color: #000000, $amount: 6.8);
            border: 2px solid lighten($color: #000000, $amount: 6.8);


        }
    }


}*/

@mixin button-base {
    font-family: inherit;
    font-size: inherit;
    padding: 15px;

    border: none;
    outline: none;
    border-radius: $base-border-radius;
    text-decoration: none !important;
 transition: transform .4s ease-in-out;
    box-shadow: 0 2px 4px rgba(17, 17, 18, .04), 0 1px 1px rgba(19, 20, 20, .06);

    &:active {
        transform: translateY(2px);
    }
}

@mixin button-generator($background, $color) {
    @include button-base();

    color: $color;
    background-color: $background;
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
        color: $color;
        background-color: darken($background, 5);
    }

    &:disabled {
        background-color: lighten($background, 20);
        cursor: not-allowed;
        // opacity: .5;
    }

    &.block {
        width: 100%;
    }

    &.outline {
        background-color: white;
        color: $background;
        border-color: $background;

        &:hover {

            border-color: darken($background, 5) !important;

        }
    }
}

.button {
    @include button-generator($default, $text-dark);

    &.primary {
        @include button-generator($primary, $text-light);
    }

    &.success {
        @include button-generator($success, $text-light);
    }

    &.danger {
        @include button-generator($danger, $text-light);
    }

    &.warning {
        @include button-generator($warning, $text-light);
    }

    &.info {
        @include button-generator($info, $text-light);
    }

    &.invert {
        @include button-generator($invert, $text-light);
    }


}