button {
    /*border: none;
    appearance: none;
    border-radius: .75rem;
    border-width: 2px;
    font-size: .85rem;
    padding: .75rem;
    background: none;

    align-items: center;
    display: inline-flex;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    transition-duration: .15s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    white-space: nowrap;
    height: 2.75rem;
    color: var(--text-primary);
    position: relative;
    overflow: hidden;*/

    transition-duration: .15s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    font: inherit;
    line-height: 1;
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    min-height: 44px;
    // font-size: .85rem;

    &:hover {
        background-color: var(--black);
        color: var(--white);
        cursor: pointer;
    }

    i {
        font-size: 1.5rem;
    }

    &.transparent {
        background-color: transparent;
        border-color: transparent;

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }

    &.danger {
        border-color: #f19292;
        color: #ff5252;

        &:hover {
            background-color: #ff5252;
            color: white;
        }
    }

    /* &.primary {
        background-color: var(--black);
        border-color: var(--black);
        color: var(--white);

        &:focus,
        &:hover {
            color: #faf594;
            background-color: #0d0d0d !important;
        }
    }*/

    /*
    svg {
        fill: var(--text-primary);
    }

    i {
        font-size: 1.5rem;
    }

    &:focus,
    &:hover {
        background-color: var(--background-tertiary);
        cursor: pointer;
    }

    akar-icon {
        margin-left: 10px;
    }

    &.primary {
        background-color: var(--accent-primary);
        border-color: var(--accent-primary);
        color: white;

        svg {
            fill: white;
        }

        &:focus,
        &:hover {
            color: #faf594;
            background-color: #0d0d0d !important;
        }
    }

    &.transparent {
        background-color: none;

        &:hover {
            background-color: var(--background-tertiary);
        }
    }


    &+button {
        margin-left: 10px;
    }*/
}