.panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px;
    margin: 15px 0;

    i {
        font-size: 1.5rem;
        margin-right: 15px;
    }

    &.default {
        background: var(--border-primary);

    }

    &.warning {
        background: #f19292;
        color: black;
    }

    &.success {
        background: #92f19f;
        color: black;
    }

}