.table-responsive {
    display: flex;
    width: 100%;
    min-height: .01%;
    overflow-x: auto;
}

table {
    &.table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px;
        border-style: hidden;

        thead {
            th {
                padding: 20px 15px;
                text-align: left;
                border-bottom: 2px solid darken($default, 5);
            }
        }

        tbody {
            td {
                padding: 20px 15px;
            }
        }

        &.striped {
            tbody {
                tr:nth-child(even) {
                    td {
                        background: lighten($default, 3);
                    }
                }
            }
        }

        &.hover {
            tbody {
                tr:hover {
                    td {
                        background: darken($default, 2);
                    }
                }
            }
        }

        &.bordered {
            thead {
                th {
                    border: 1px solid darken($default, 5);
                    background: lighten($default, 3);
                }
            }

            tbody {
                tr {
                    td {
                        border: 1px solid #eee;
                    }
                }
            }
        }
    }
}