.tooltip {
	position: absolute;
	z-index: 1000;
	padding: 10px;
	background-color: #18181b;
	color: #fff;
	border-radius: $base-border-radius;
	font-size: 14px;
	line-height: 1.2;
	// white-space: nowrap;

	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 5px;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out,
		transform 0.1s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	pointer-events: none;

	&.visible {
		visibility: visible;
		opacity: 1;
	}
}
[data-tooltip]:hover {
	position: relative;
}

[data-tooltip]:hover:after {
	background-color: #000000;
	border-radius: 5px;

	color: #ffffff;
	font-size: 12px;
	content: attr(data-tooltip);

	margin-bottom: 10px;
	top: calc(100% + 5px);
	left: 0;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	line-height: 1.5;
	word-wrap: break-word;
	// white-space: nowrap;
	z-index: 9999;
}
