<section class="app-route">
	<div class="grid">
		<div class="width-expand@md">
			<div>
				<div class="app-page-title">{{playlist.name}}</div>
			</div>

		</div>
		<div class="width-auto@md">
			<button (click)="onPlayAll()" class="button action close default flex flex-middle">
				<i class="feather feather-play"></i> Play All
			</button>
		</div>
		<div class="width-auto@md ">
			<button class="button action default flex flex-middle"> Edit Playlist
			</button>
		</div>

		<div class="width-auto@md ">
			<button class="button action close default flex flex-middle">
				<i class="feather feather-trash"></i>
			</button>
		</div>
	</div>
	<app-track-list [track]="track" *ngFor="let track of playlist.tracks"></app-track-list>
</section>