.tracks {
    display: flex;
    flex-direction: row;

    .actions {
        margin-right: 20px;
        margin-left: 20px;

        .delete {
            background: #09090b;
            padding: 15px;
            margin-top: -25px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            color: white;
            font-size: 1.1rem;
            line-height: 0px;

            &:hover {
                cursor: pointer;
                background-color: rgba(60, 60, 60, 0.3);

            }
        }
    }

    .track {
        flex-grow: 1;
    }
}


.input {
    height: 80px;

    font-size: 1.5rem;

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    padding: .8rem 1rem;
    background-color: #09090b;
    border: 0;
    transition: color .3s ease-out,
    background-color .3s ease-out,
    box-shadow .2s ease-out;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-radius: 10px;


    &:hover,
    &:focus {
        outline: none;

        background-color: #fff;
        color: #495057;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

        &::placeholder {
            color: #ddd;
        }
    }
}