.artist {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;


    img {
        width: 200px;
        border-radius: 50%;
        height: 200px;

    }

    .artist-name {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.4rem;
        margin-top: 20px;
    }

    &.sm {
        img {
            width: 60px;
            height: 60px;

        }

        .artist-name {
            font-size: 14px;
            margin-top: 10px;
        }
    }

    &:hover {
        cursor: pointer;
        background: rgba(37, 39, 42, 0.18);

        .artist-name {
            color: rgba(255, 255, 255, 1)
        }
    }
}