@mixin button-base {
    /*font-family: inherit;
    font-size: inherit;
    padding: 15px;

    border: none;
    outline: none;
    border-radius: $border-radius;
    text-decoration: none !important;
    transition: all .4s ease-in-out;

    &:active {
        transform: translateY(2px);
	}*/

    font-family: inherit;
    font-size: inherit;
    padding: 15px;
    // padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    border-radius: $border-radius;
    text-decoration: none !important;
    transition: all .4s ease-in-out;

    &:active {
        transform: translateY(2px);
    }
}

@mixin button-generator($background, $color) {
    @include button-base();

    color: $color;
    background-color: $background;


    &:hover {
        cursor: pointer;
        color: $color;
        background-color: darken($background, 5);
    }

    &:disabled {
        background-color: lighten($background, 20);
        cursor: not-allowed;
        // opacity: .5;
    }

    &.block {
        width: 100%;
    }
}

.button {
    @include button-generator(#fff, $text-dark);

    &.default {
        @include button-generator($default, $text-light);
    }

    &.primary {
        @include button-generator($primary, $text-light);
    }

    &.success {
        @include button-generator($success, $text-light);
    }

    &.transparent {
        @include button-generator(transparent, $text-light);
    }

    &.danger {
        @include button-generator($danger, $text-light);
    }

    &.warning {
        @include button-generator($warning, $text-light);
    }

    &.info {
        @include button-generator($info, $text-light);
    }

    &.invert {
        @include button-generator($invert, $text-light);
    }
}