$base-gutter: 2em;
$bp-small: 440px;
$bp-medium: 480px;
$bp-large: 1160px;
$bp-xlarge: 1440px;
$columns: 12;

// Grid mixin
@mixin gridset($bp) {

    @for $i from 1 through $columns {
        .width-#{$i}\@#{$bp} {
            max-width: percentage($i/$columns);
        }
    }

    .width-expand\@#{$bp} {
        flex: 1;
        min-width: 1px;
    }

    .width-auto\@#{$bp} {
        width: auto !important;
    }
}

.grid {
    [class*="width-"] {
        width: 100%;
    }

    @media (min-width: $bp-small) {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-left: -($base-gutter/2);
        margin-right: -($base-gutter/2);

        >* {
            box-sizing: border-box;
            padding-left: $base-gutter/2;
            padding-right: $base-gutter/2;
        }
    }

    &.collapse {
        margin-left: 0 !important;
        margin-right: 0 !important;

        >* {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

@media (min-width: $bp-small) {
    @include gridset('sm');
}

@media (min-width: $bp-medium) {
    @include gridset('md');
}

@media (min-width: $bp-large) {
    @include gridset('lg');
}

@media (min-width: $bp-xlarge) {
    @include gridset('xl');
}