@mixin modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(52, 54, 66, 0.9);
    background: rgba(3, 3, 4, 0.84);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;


    &.is-visible {
        visibility: visible;
        opacity: 1;
    }

}

@mixin modal-window($width) {
    transform: translateY(0);
    position: relative;
    width: $width;
    margin: 4em auto;
    cursor: auto;
    border-radius: 0.25em;
    transform: translateY(-30px);
    transition-property: transform;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    background: rgb(255, 255, 255);
    border-radius: 3px;



}

.modal {
    @include modal();

    .modal-window {
        @include modal-window(50%);
        // padding: 10px 20px 20px;
        padding: 15px 30px 30px;


        @include for-size(phone) {
            width: 90%;
        }


        &.small {
            @include for-size(desktop) {
                max-width: 500px;
            }

            @include for-size(phone) {
                max-width: 90%;
            }
        }

        &.medium {
            @include for-size(desktop) {
                max-width: 80%;
            }

            @include for-size(phone) {
                max-width: 90%;
            }
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}