@mixin navbar-hover($background, $color, $border-radius) {
    background-color: $background;
    color: $color;
    border-radius: $border-radius;
    text-decoration: none;
}

@mixin navbar($background, $color, $hover: $background,
    $hoverColor: $color, $animate: true, $padding: 20px) {
    background-color: $background;
    color: $color;
    // height: $padding * 3;

    line-height: $padding * 3;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        &.submenu {
            transition: all $animation-duration ease-in-out;

            font-weight: 300;
            text-transform: none;
            display: none;
            position: absolute;
            width: 220px;
            background-color: white;
            box-shadow: 0 10px 14px 0 rgba(33, 35, 68, .05) !important;


            li {
                a {
                    color: $text-main;
                    padding: 0px 5px 0px $padding;
                    display: block;
                }

            }
        }


        li {

            &:hover {
                ul.submenu {
                    display: block !important;
                }

                a:hover {
                    background-color: lighten($hover, 10);
                    color: $hoverColor;
                    text-decoration: none;
                }




            }

            a {
                padding: $padding;
                color: $color;

                @if $animate==true {
                    transition: all $animation-duration ease-in-out;

                }



            }
        }



    }}