@mixin base-switch() {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

@mixin generate-switch($backgound, $disabled, $knob) {
    @include base-switch();

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus {
            outline: none;
        }

        &:checked+.slider {
            background-color: $backgound;
        }



        &:checked+.slider:before {
            transform: translateX(26px);
        }

    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $disabled;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $knob;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;

            }
        }
    }
}


.switch {
    @include generate-switch(darken($default, 20), darken($default, 5), #fff);

    &.primary {
        @include generate-switch($primary, darken($default, 5), #fff);
    }

    &.success {
        @include generate-switch($success, darken($default, 5), #fff);
    }

    &.danger {
        @include generate-switch($danger, darken($default, 5), #fff);
    }

    &.warning {
        @include generate-switch($warning, darken($default, 5), #fff);
    }

    &.info {
        @include generate-switch($info, darken($default, 5), #fff);
    }

    &.invert {
        @include generate-switch($invert, darken($default, 5), #fff);
    }
}