.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// text colors
.text-primary {
    color: $primary;
}

.text-info {
    color: $info;
}

.text-success {
    color: $success;
}

.text-warning {
    color: $warning;
}

.text-danger {
    color: $danger;
}

.text-invert {
    color: $invert;
}

.text-meta {
    color: $text-meta-color;
    font-size: $text-meta-size;
}

.text-lead {
    color: $text-lead-color;
    font-size: $text-lead-size;
}