.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: green;

    .app-sidebar {
        background-color: blue;
        margin: 20px;
    }

    .app-content {
        background-color: yellow;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow: hidden;


        .app-router {
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .app-player {
            margin: 20px;
            background: red;
        }
    }
}