$background-shade: #09090b;
$border-radius: 10px;

.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;


    .app-sidebar {
        background-color: $background-shade;
        border-radius: $border-radius;
        margin: 20px;

    }

    .app-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow: hidden;


        .app-router {
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .app-player {
            margin: 20px;
            background: $background-shade;
            border-radius: $border-radius;
        }
    }
}