<div class="track {{ playerService.$track.getValue().id === track.id ? 'playing' : '' }}">
	<div *ngIf="options.picture" appTooltip tooltip="{{ track.artist }} - {{ track.name }}" class="image">
		<img class="lazyload" [lazyLoad]="track?.album?.picture || '/assets/app-icon-text.png'" />
	</div>
	<div (click)="onPlay($event)" class="details">
		<div class="overflow-text">
			<div class="title">
				{{track.name}}
			</div>
			<div class="subtitle">
				{{track.artist}}
			</div>
		</div>
	</div>
	<div *ngIf="track.lyrics" class="actions lossless" appTooltip tooltip="Lyrics availalbe">
		<i class="feather feather-list"></i>
	</div>
	<div *ngIf="track.lossless" class="actions lossless" appTooltip tooltip="Lossless">
		<i class="feather feather-headphones"></i>
	</div>


	<div class="duration">
		{{track.duration | formatSeconds}}
	</div>

	<div *ngIf="options.actions" class="actions">
		<div class="actions">
			<app-dropdown #dropdown [config]="{right: true, up: true}" [header]="headerTemplate">
				<ng-template #headerTemplate let-item="item">
					<div (click)="item.onToggle()" class="dropdown-action-item"><i class="material-icons-outlined">
							more_vert
						</i></div>
				</ng-template>

				<div class="dropdown-action-list">

					<a (click)="onPlaylist()">Add to playlist</a>
					<a (click)="onQueue()">Add to queue</a>

					<a [routerLink]="['/', { outlets: { modal: ['modal','artists', track?.album?.artist?.id] } }]">More
						from artist</a>
					<a [routerLink]="['/', { outlets: { modal: ['modal','albums',track?.album?.id] } }]">Go to album</a>
					<a target="_blank" href="{{httpService.API_ENDPOINT}}/tracks/play/{{ track.id }}"
						download="{{track.name}}.mp3">Download</a>

					<a *ngIf="track?.playlists?.length > 0" (click)="onRemoveFromPlaylist()">Remove from playlist</a>


				</div>
			</app-dropdown>
		</div>
	</div>





</div>