.track {
	// margin-bottom: 15px;
	border-radius: 5px;
	color: var(--foreground-color);
	display: flex;
	align-items: center;

	&.playing {
		// background: rgba(37, 39, 42, 0.18);
		// background-color: rgb(0 0 0 / 25%);
		background-color: var(--accent-color); //rgb(255 255 255 / 6%);

		.title,
		.subtitle,
		.details {
			color: #fff !important;
		}

		color: #fff !important;
		box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

		// backdrop-filter: blur(10px);
	}

	.image {
		min-width: 60px;
		text-align: center;

		img {
			width: 30px;
			height: 30px;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
		}
	}

	.details {
		padding: 10px;
		flex-grow: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;

		.title {
			color: var(--foreground-color);
			font-size: 14px;
		}

		.subtitle {
			color: var(--foreground-color);
			opacity: 0.7;
			font-size: 12px;
		}
	}

	.actions {
		padding: 10px;
	}

	.duration {
		padding: 10px;
		font-size: 14px;
	}

	&:hover {
		// background: #09090b;
		// background: rgba(37, 39, 42, 0.18);
		// background-color: rgb(0 0 0 / 25%);
		// color: var(--foreground-color);
		cursor: pointer;
	}

	.highlight {
		color: var(--foreground-color);
	}

	.shade {
		color: #1f1f1f;
	}
}

@media all and (max-width: 1000px) {
	.track {
		// font-size: 13px;
		margin-left: 0px;
		margin-right: 0px;

		.image {
			padding: 10px;

			img {
				width: 30px;
			}
		}

		.details {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;

			.title {
			}

			.artist {
			}
		}

		.lossless,
		.fav {
			display: none;
		}
	}
}
