.track {
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;

    &.playing {
        background: rgba(37, 39, 42, 0.18);
    }

    .image {
        padding: 10px;

        img {
            width: 50px;
            border-radius: 5px;
        }
    }



    .details {
        padding: 10px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;

        .title {
            color: white;

        }

        .artist {
            color: rgba($color: #fff, $alpha: 0.4)
        }

    }



    .actions {
        padding: 10px;
    }

    .duration {
        padding: 10px;
        font-size: 12px;
    }

    &:hover {
        // background: #09090b;
        background: rgba(37, 39, 42, 0.18);
        color: white;
        cursor: pointer;
    }


    .highlight {
        color: #fff;
    }

    .shade {
        color: #1f1f1f;
    }

}

@media all and (max-width: 1000px) {
    .track {
        // font-size: 13px;
        margin-left: 0px;
        margin-right: 0px;

        .image {
            padding: 10px;

            img {
                width: 30px;

            }
        }

        .details {
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;

            .title {}

            .artist {}

        }

        .lossless,
        .fav {
            display: none;
        }
    }
}