<div class="track {{ playerService.$track.getValue()._id === track._id ? 'playing' : '' }}"
	(click)="playerService.onPlay(track)">
	<div class="grid">
		<div class="width-auto@md">
			<img class="lazyload picture" [lazyLoad]="track.album.picture || '/assets/logo.png'" />
		</div>
		<div class="width-expand@md flex flex-middle">
			<div>
				<div class="title">
					{{track.name}}
				</div>
				<div class="artist">
					{{track.artist}}
				</div>
			</div>
		</div>

		<div *ngIf="track.lossless" class="width-auto@md flex flex-middle tooltip" [attr.data-tooltip]="'Lossless'">
			<i class="feather feather-headphones"></i>
		</div>

		<div class="width-auto@md flex flex-middle">
			<app-fav-button [track]="track"></app-fav-button>
		</div>

		<div class="width-auto@md flex flex-middle">
			{{track.duration | formatSeconds}}
		</div>

	</div>
</div>