.track {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;

    &.playing {
        background: rgba(37, 39, 42, 0.18);
    }

    .picture {
        width: 50px;
        border-radius: 5px;
    }

    .title {
        color: white;
    }

    .artist {
        color: rgba($color: #fff, $alpha: 0.4)
    }

    &:hover {
        // background: #09090b;
        background: rgba(37, 39, 42, 0.18);
        color: white;
        cursor: pointer;
    }


    .highlight {
        color: #fff;
    }

    .shade {
        color: #1f1f1f;
    }

}