<div class="track {{ playerService.$track.getValue().id === track.id ? 'playing' : '' }}">
	<div class="image">
		<img class="lazyload" [lazyLoad]="track?.album?.picture || '/assets/logo.png'" />
	</div>
	<div (click)="onPlay($event)" class="details">
		<div>
			<div class="title">
				{{track.name}}
			</div>
			<div class="subtitle">
				{{track.artist}}
			</div>
		</div>
	</div>

	<div *ngIf="track.lossless" class="actions lossless" appTooltip tooltip="Lossless">
		<i class="feather feather-headphones"></i>
	</div>


	<div class="duration">
		{{track.duration | formatSeconds}}
	</div>

	<div class="actions">
		<div class="actions">
			<app-dropdown #dropdown [config]="{right: true, up: true}" [header]="headerTemplate">
				<ng-template #headerTemplate let-item="item">
					<div (click)="item.onToggle()" class="dropdown-action-item"><i class="material-icons-outlined">
							more_vert
						</i></div>
				</ng-template>

				<div class="dropdown-action-list">


					<a (click)="onPlaylist()">Add to playlist</a>
					<a (click)="onQueue()">Add to queue</a>

					<a routerLink="/library/artists/{{track?.album?.artist?.id}}">More from artist</a>
					<a routerLink="/library/albums/{{track?.album?.id}}">Go to album</a>
					<a target="_blank" href="{{httpService.API_ENDPOINT}}/tracks/play/{{ track.id }}"
						download="{{track.name}}.mp3">Download</a>




				</div>
			</app-dropdown>
		</div>
	</div>





</div>