<app-header title="Artists">

</app-header>




<infinite-scroll (scrolled)="onScroll()">
	<div class="artists">

		<div class="artist" *ngFor="let artist of artists" routerLink="/artists/{{ artist.id }}">
			<img width="256" height="256" class="lazyload" [lazyLoad]="artist.picture || '/assets/logo.png'" />
			<div class="artist-overlay"></div>
			<div class="artist-name">{{ artist.name }}</div>

		</div>
	</div>
	<!--div class="grid">
		<div class="width-2@lg width-4@md width-6@sm width-6@xs" *ngFor="let artist of artists">
			<app-artist-list [artist]="artist"></app-artist-list>

		</div>
	</div-->
	<app-indicator [loading]="loading" message="Loading artists"></app-indicator>

</infinite-scroll>