<app-header static="true" back="true"></app-header>



<!--app-background [image]="artist.picture"></app-background-->

<div class="inner-content">

	<div class="artist-meta">
		<div class="grid">
			<div class="width-auto@md flex flex-middle">

				<app-shiner *ngIf="loading" margin="20px" height="250px" width="250px" borderRadius="50%"></app-shiner>
				<img *ngIf="!loading" class="artist-picture lazyload"
					[lazyLoad]="artist.picture || '/assets/app-icon-text.png'" />

			</div>

			<div class="width-expand@md">
				<div *ngIf="!loading" class="artist-details">
					<div class="artist-name">{{ artist.name }}</div>
					<div class="artist-bio" [innerHTML]="artist.bio"></div>
				</div>

				<div *ngIf="loading" class="artist-details">
					<div class="artist-name">
						<app-shiner *ngIf="loading" margin="0px" height="40px" width="250px"></app-shiner>
					</div>
					<div class="artist-bio">
						<app-shiner *ngIf="loading" margin="0px 0px 5px 0px" height="10px" width="320px"></app-shiner>
						<app-shiner *ngIf="loading" margin="0px 0px 5px 0px" height="10px" width="320px"></app-shiner>
						<app-shiner *ngIf="loading" margin="0px 0px 5px 0px" height="10px" width="320px"></app-shiner>
						<app-shiner *ngIf="loading" margin="0px 0px 5px 0px" height="10px" width="320px"></app-shiner>
					</div>
				</div>


				<div class="tags">

					<app-horizontal-scroll>
						<ng-container *ngFor="let tag of artist.tags">
							<div class="tag inactive">{{ tag }}</div>

						</ng-container>
					</app-horizontal-scroll>

				</div>
				<h3>Similar Artists</h3>
				<div class="tags">
					<app-horizontal-scroll>
						<ng-container *ngFor="let similar of artist.similar">
							<div class="tag" routerLink="/search" [queryParams]="{ q: similar }">{{ similar }}</div>

						</ng-container>
					</app-horizontal-scroll>

				</div>

			</div>
		</div>
	</div>

	<ng-container *ngIf="albums.length > 0">

		<h3>Albums</h3>
		<div class="albums">
			<swiper [config]="config">
				<ng-container *ngFor="let album of albums; ">
					<ng-template swiperSlide>
						<div [routerLink]="['/', { outlets: { modal: ['modal', 'albums', album?.id] } }]" class="album">
							<img [src]="album.picture || '/assets/app-icon-text.png'" />
							<div class="column-details">
								<div class="title">{{ album.name }}</div>
								<div class="subtitle">{{ album.artist.name }}</div>
							</div>
						</div>
					</ng-template>
				</ng-container>
			</swiper>
		</div>
	</ng-container>

	<ng-container *ngIf="tracks.length > 0">
		<div class="title-action">
			<h3>Popular</h3>

			<div class="float-right">


				<div (click)="onPlayTracks()" class="play-button">
					Play</div>
			</div>
		</div>

		<div class="grid">
			<div class="width-4@lg width-4@md width-6@sm" *ngFor="let track of tracks">
				<app-track-list [track]="track"></app-track-list>
			</div>
		</div>

	</ng-container>

	<!--ng-container *ngIf="result.tracks.length > 0">


		<div class="title-action">
			<h3>Appears on: </h3>

			<div class="float-right">


				<div (click)="onPlayTracks()" class="play-button">
					Play</div>
			</div>
		</div>

		<div class="grid ">
			<div class="width-4@lg width-6@md width-6@sm" *ngFor="let track of result.tracks">
				<app-track-list [track]="track"></app-track-list>
			</div>
		</div>

	</ng-container-->
</div>