<section class="app-route">
	<div class="artist-meta">
		<div class="grid">
			<div class="width-auto@md flex flex-middle">
				<img class="artist-picture lazyload" [lazyLoad]="artist.picture || '/assets/logo.png'" />

			</div>

			<div class="width-expand@md">
				<div class="app-page-title">{{ artist.name }}</div>
				<div class="artist-bio" [innerHTML]="artist.bio"></div>
				<ul class="tags">
					<li *ngFor="let tag of artist.tags">{{ tag }}</li>
				</ul>
				<div class="text-meta">Similar Artists</div>
				<ul class="tags">
					<li *ngFor="let similar of artist.similar">
						<a routerLink="/search" [queryParams]="{ q: similar }">{{ similar }}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<ng-container *ngIf="albums.length > 0">

		<h2>Albums</h2>
		<div class="grid">
			<div class="width-3@lg width-4@md width-6@sm" *ngFor="let album of albums">
				<app-album-list [album]="album"></app-album-list>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="tracks.length > 0">
		<h2>Popular Tracks</h2>
		<div class="grid">
			<div class="width-4@lg width-4@md width-6@sm" *ngFor="let track of tracks">
				<app-track-list [track]="track"></app-track-list>
			</div>
		</div>

	</ng-container>
</section>