.artist-meta {
    padding: 15px;
    padding-bottom: 40px;
}

.artist-picture {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.artist-bio {
    color: rgba(255, 255, 255, 0.5);
}


.app-page-title {
    margin-left: -15px;
}

.tags {
    list-style: none;
    margin: 20px 0;
    padding: 0;

    .tag {
        display: inline-block;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 50%);
        // backdrop-filter: blur(50px);
        color: white;
        padding: 10px;

        &.inactive {
            color: #333;
        }

        a {
            color: #555;
            text-decoration: none;

            &:hover {
                color: var(--accent-color);
            }
        }

        &+.tag {
            margin-left: 10px;
        }
    }

}