.album {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

    .album-title {
        color: white;
        font-size: 1.1rem;
    }

    img {
        border-radius: 10px;
    }

    .album-artist {
        color: white;
        opacity: 0.5;
    }

    &:hover {
        background: #0a0a0a;
        color: white;
        cursor: pointer;
    }

}