.player {
    /*display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;*/
    display: grid;
    grid-template-areas: "image queue"
        "details  queue"
        "progress  queue"
        "controls  queue";

    grid-template-rows: 1fr auto auto auto;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    gap: 1rem;
    // overflow-y: auto;

    @media all and (max-width: 1000px) {
        max-width: auto;
        margin: 0px;
        min-height: -webkit-fill-available;

        grid-template-areas: "image"
            "details"
            "progress"
            "controls"
            "queue";
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;

        .details {
            padding: 0 1rem;
        }

        .progress {
            padding: 0 1rem;
        }

        .controls {
            //position: sticky;
            //top: calc(env(safe-area-inset-top) + 60px);

            padding: 5px 1rem;
            border-radius: 15px;
            z-index: 6;
            background-color: var(--background-color);
        }

        .queue {
            overflow: hidden !important;
            height: auto !important;
        }


    }

    .image {
        grid-area: image;
        display: grid;
        place-content: center;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            aspect-ratio: 1;

            object-fit: cover;
        }
    }

    .details {
        grid-area: details;

        display: flex;
        flex-direction: row;

        >div {
            flex-grow: 1;

            h1 {
                line-height: 1.2;
                margin: 0px;
            }

            p {
                margin: 0px;
            }
        }

        button {
            height: 40px;
            width: 40px;
            min-width: 40px;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &.active {
                color: red;
            }
        }

    }

    .progress {
        grid-area: progress;

        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;

        .time {
            opacity: 0.5;
            font-size: 0.8rem;
        }
    }

    .controls {
        grid-area: controls;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: 1rem 0px;

        button {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &.playback {
                background-color: var(--background-color-3);
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.small {
                font-size: 14px !important;
                opacity: 0.6;


            }



            &.active {
                opacity: 1;
                color: var(--accent-color);
            }
        }
    }

    .queue {
        grid-area: queue;
        overflow: auto;
        height: 100vh;
        // max-height: 100vh;
        max-width: 100vw;
    }

}