<div class="app-toolbar {{ transparent ? 'transparent' : '' }} {{ static ? 'static' : '' }}">
	<div *ngIf="back" class="back" (click)="pop()">
		<i class="material-icons-outlined">
			arrow_back
		</i>
	</div>
	<div class="title">
		{{ title }}
	</div>
	<div class="actions">


		<ng-container [ngTemplateOutlet]="actionTemplate ? actionTemplate : basic">

		</ng-container>
		<ng-template #basic>


			<div *ngIf="actions.length > 0">
				<app-dropdown #dropdown [config]="{right: true}" [header]="headerTemplate">
					<ng-template #headerTemplate let-item="item">
						<div (click)="item.onToggle()" class="dropdown-action-item"><i class="material-icons-outlined">
								more_vert
							</i></div>
					</ng-template>

					<div class="dropdown-action-list">
						<ng-container *ngFor="let action of actions">
							{{ action.route }}
							<a *ngIf="action.route" routerLink="{{action.route}}" [queryParams]="action.queryParams">
								{{ action.title }}
							</a>

							<a *ngIf="action.action" (click)="action.action(action.params)">
								{{ action.title }}
							</a>
						</ng-container>
					</div>
				</app-dropdown>
			</div>
		</ng-template>
	</div>

</div>
<!--div *ngIf="!static" class="filler"></div-->