.app-toolbar {
	position: sticky;
	background-color: var(--background-color);
	// box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	height: 60px;
	z-index: 6;
	color: var(--foreground-color);
	display: flex;
	flex-direction: row;
	align-items: center;

	&.transparent {
		background-color: transparent;
		box-shadow: none;
	}
	&.static {
		position: static;
	}
	.back {
		padding: 15px;
		display: flex;

		&:hover {
			cursor: pointer;
		}
	}

	.title {
		font-size: 1.2rem;
		padding: 15px;
		flex-grow: 1;
		font-weight: 800;
		font-family: "Open Sans", sans-serif;
		text-transform: uppercase;
	}

	.actions {
		padding: 15px;
	}
}

.filler {
	padding-top: 60px;
}
