.horizontal-scroll {
	overflow: hidden;

	&-container {
		display: flex;
		overflow-x: auto;
		width: 100%;
		-webkit-overflow-scrolling: touch;

		&-inside {
			background-color: transparent;
			display: flex;
			flex: 0 0 auto;
		}
	}
}
