.toggles {
    display: flex;
    align-items: center;

    .toggle {
        padding: 10px;
        font-size: 1.6rem;
    }

    .label {
        flex-grow: 1;
        padding: 5px;
    }

    &:hover {
        cursor: pointer;
    }
}