<div appRipple class="track {{ playerService.$track.getValue()._id === track._id ? 'playing' : '' }}">
	<div *ngIf="options.picture" appTooltip class="image">
		<img class="lazyload" [lazyLoad]="track?.album?.picture || '/assets/app-icon-text.png'" />
	</div>
	<div (click)="onPlay($event)" class="details">
		<div class="overflow-text">
			<h3>{{ track.name }}</h3>
			<p>{{ track.artist }}</p>

		</div>
	</div>
	<div *ngIf="track.lyrics" class="actions lossless" appTooltip tooltip="Lyrics availalbe">
		<i class="feather feather-list"></i>
	</div>
	<div *ngIf="track.lossless" class="actions lossless" appTooltip tooltip="Lossless">
		<i class="feather feather-headphones"></i>
	</div>


	<div class="duration">
		{{track.duration | formatSeconds}}
	</div>

	<div *ngIf="options.actions" class="actions">

		<div appRipple [dropdownTriggerFor]="dropdown">
			<div class="icon">
				<i class="ph-dots-three-vertical"></i>
			</div>
			<app-dropdown #dropdown>
				<!--div (click)="theme.onToggle()" class="dropdown-item">
					<app-theme-toggle style="display: none;" #theme></app-theme-toggle>
					{{ theme.themeService.theme === 'dark' ? 'Light' : 'Dark' }}

					<i *ngIf="theme.themeService.theme === 'dark'" class="ph-sun-dim"></i>
					<i *ngIf="theme.themeService.theme !== 'dark'" class="ph-moon"></i>
				</div-->
				<div class="dropdown-item" (click)="onPlaylist()">Add to playlist</div>
				<div class="dropdown-item" (click)="onQueue()">Add to queue</div>

				<div class="dropdown-item"
					[routerLink]="['/', { outlets: { modal: ['modal','artists', track?.album?.artist?._id] } }]">More
					from artist</div>
				<div class="dropdown-item"
					[routerLink]="['/', { outlets: { modal: ['modal','albums',track?.album?._id] } }]">Go to album</div>
				<a class="dropdown-item" target="_blank" href="{{httpService.API_ENDPOINT}}/tracks/play/{{ track._id }}"
					download="{{track.name}}.mp3">Download</a>

				<div class="dropdown-item" *ngIf="track?.playlists?.length > 0" (click)="onRemoveFromPlaylist()">Remove
					from playlist</div>



			</app-dropdown>

		</div>


	</div>





</div>