.modal-window {
    padding: 20px;
    margin-top: 150px;

    .modal-title {
        margin: 10px auto;
        font-size: 1.4rem;
    }

    .modal-message {
        margin: auto;

    }

    .default {
        background-color: white;
        color: black;
    }

    .primary {
        background: var(--accent-color);
    }
}