<div class="app">
	<div class="app-menu" style="-webkit-app-region: drag">

		<div class="menu">
			<div class="app-logo">
				Auddly
			</div>
			<div class="menu-item">

				<a [routerLinkActive]="['active']" routerLink="/search">
					<i class="feather-search"></i>
					<div class="title">Home</div>
				</a>
			</div>

			<div class="menu-item">

				<a [routerLinkActive]="['active']" routerLink="/library">
					<i class="feather-folder"></i>
					<div class="title">Library</div>
				</a>
			</div>


			<div class="menu-item">

				<a [routerLinkActive]="['active']" routerLink="/tracks">
					<i class="feather-music"></i>
					<div class="title">Tracks</div>
				</a>
			</div>

			<div class="menu-item">

				<a (click)="modal.show()">
					<div class="image">
						<img class="lazyload" [lazyLoad]="track?.album?.picture || '/assets/app-icon-text.png'" />

					</div>
				</a>

				<div class="player-popover">
					<app-player></app-player>

				</div>
				<!--a [routerLinkActive]="['active']" routerLink="/playing">
					<div class="image">
						<img class="lazyload" [lazyLoad]="track?.album?.picture || '/assets/app-icon-text.png'" />

					</div>
				</a>

				<div class="player-popover">
					<app-player></app-player>

				</div-->
			</div>

			<div class="menu-fill"></div>

			<div class="menu-item">

				<a [routerLinkActive]="['active']" routerLink="/settings">
					<i class="feather-settings"></i>
					<div class="title">Settings</div>
				</a>
			</div>
		</div>
	</div>

	<div class="app-content">
		<div class="container mx-auto">
			<router-outlet></router-outlet>
		</div>

	</div>

</div>

<app-modal-page #modal>
	<app-now-playing></app-now-playing>
</app-modal-page>
<!--div class="app">
	<div class="app-menu" style="-webkit-app-region: drag">
		<app-menu></app-menu>
	</div>

	<div class="app-content">
		<div class="app-router">
			<router-outlet></router-outlet>
		</div>

		<div class="app-player">
			<app-player></app-player>
		</div>
	</div>

</div>

<app-toast></app-toast>
<app-dialog></app-dialog>

<app-playlist-form></app-playlist-form-->


<app-notify></app-notify>
<app-dialog></app-dialog>
<app-tooltip></app-tooltip>