<div class="app">
	<div class="app-menu">
		<div class="container mx-auto">
			<!--div class="player">
				<app-player></app-player>
			</div-->
			<!--div class="toggle">
				<span></span>
				<div class="value " [routerLinkActive]="['active']" routerLink="/search">
					Search
				</div>
				<div [routerLinkActive]="['active']" routerLink="/artists" class="value ">
					Artists
				</div>
				<div class="value " [routerLinkActive]="['active']" routerLink="/queue">
					Queue
				</div>

				<div class="value " [routerLinkActive]="['active']" routerLink="/tracks">
					tracks
				</div>
				<div class="value " [routerLinkActive]="['active']" routerLink="/settings">
					Settings
				</div>
			</div-->
			<div class="menu">
				<div class="menu-item">
					<a [routerLinkActive]="['active']" routerLink="/search">
						<i class="material-icons-outlined">
							search
						</i>
					</a>
				</div>

				<div class="menu-item">
					<a [routerLinkActive]="['active']" routerLink="/library">
						<i class="material-icons-outlined">
							folder
						</i>
					</a>
				</div>

				<div class="menu-item">
					<a [routerLinkActive]="['active']" routerLink="/queue">
						<i class="material-icons-outlined">
							graphic_eq
						</i>
					</a>
				</div>

				<div class="menu-item">
					<a [routerLinkActive]="['active']" routerLink="/tracks">
						<i class="material-icons-outlined">
							music_note
						</i>
					</a>
				</div>

				<div class="menu-item">
					<a [routerLinkActive]="['active']" routerLink="/settings">
						<i class="material-icons-outlined">
							settings
						</i>
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="app-content">
		<div class="container mx-auto">
			<router-outlet></router-outlet>
		</div>

	</div>

</div>
<!--div class="app">
	<div class="app-menu" style="-webkit-app-region: drag">
		<app-menu></app-menu>
	</div>

	<div class="app-content">
		<div class="app-router">
			<router-outlet></router-outlet>
		</div>

		<div class="app-player">
			<app-player></app-player>
		</div>
	</div>

</div>

<app-toast></app-toast>
<app-dialog></app-dialog>

<app-playlist-form></app-playlist-form-->