.dropdown-item {
    display: flex;
    flex-direction: row;

    i {
        margin-left: auto;
        font-size: 1.5rem;
    }
}

.app {
    //height: 100vh;
    //max-height: -webkit-fill-available;

    &-navigation {

        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 80px;
        background-color: rgb(14, 14, 14);
        z-index: 99;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (max-width: 1000px) {
            position: fixed;
            bottom: 0;
            height: auto;
            width: 100%;
            height: calc(env(safe-area-inset-bottom) + 60px);
            top: auto;
            padding-bottom: env(safe-area-inset-bottom);
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .logo {
                display: none !important;
            }
        }

        .logo {}

        >div {
            flex-grow: 1;
            flex-basis: 0;



            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px;
            position: relative;
            justify-content: center;

            .icon {
                display: grid;
                place-content: center;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                // background-color: #f3f3f3;
                color: white;
                font-size: 1.67rem;
                // background-color: #191919;

            }

            &.active {
                opacity: 1;

                .icon {
                    color: var(--accent-color);
                    //background: #93f19f;
                    //color: #000;
                }

            }

            .text {
                position: absolute;
                background: #131313 !important;
                white-space: nowrap;
                padding: 0.5rem 1rem;
                border-radius: 6px;
                left: 70px;
                transform-origin: center left;
                display: none;
                color: white;
                z-index: 9;


                &:before {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    background-color: #131313;
                    left: -5px;
                    top: 50%;
                    transform: translatey(-50%) rotate(45deg);
                    border-radius: 3px;
                }

                margin-left: 15px;
            }

            &:hover {
                cursor: pointer;

                .text {
                    display: block;
                    animation: fadeInShow .1s;
                }

            }


            &:hover {
                cursor: pointer;
            }

            @media all and (max-width: 1000px) {
                &:hover {
                    .text {
                        display: none;
                    }

                }

                .text {
                    display: none;
                    position: absolute;
                    background: #131313 !important;
                    white-space: nowrap;
                    padding: 0.5rem 1rem;
                    border-radius: 6px;
                    bottom: 70px;
                    transform-origin: center left;
                    display: none;
                    color: white;
                    z-index: 9;
                    margin-left: 15px;
                    left: -10px;

                    &:before {
                        content: "";
                        display: block;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        background-color: #131313;
                        left: 30px;
                        transform: translatey(-50%) rotate(45deg);
                        border-radius: 3px;
                        bottom: -10px;
                        top: auto;
                    }

                }
            }


            @media all and (min-width: 1000px) {
                padding: 15px;
                flex-grow: 0;
                height: auto;

                flex-basis: auto;
                border-left: 5px solid transparent;

                &.active {
                    border-left: 5px solid var(--accent-color);
                }

            }
        }
    }


    &-content {
        margin-left: 80px;
        width: calc(100vw - 80px);
        // padding-left: 1rem;
        //padding-right: 1rem;

        @media all and (max-width: 1000px) {
            width: 100%;
            margin-left: 0;
            padding: 0px;
            // padding-top: env(safe-area-inset-top);

            padding-bottom: calc(env(safe-area-inset-bottom) + 140px);

            -webkit-overflow-scrolling: touch;
        }
    }

    &-player {
        @media all and (max-width: 1000px) {
            bottom: calc(env(safe-area-inset-bottom) + 60px);
            left: 0px;
            margin: 0px;
            box-shadow: none;
            border-radius: 0px 0px 0px;
            background: #0e0e0e;
            border-top: 1px solid var(--border-color);
            color: white;
            z-index: 7;
        }

        // background-color: var(--accent-color);

        position: fixed;
        bottom: 0px;
        z-index: 999999;
        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%),
        0 5px 15px 0 rgb(0 0 0 / 5%);

        left: auto;
        background-color: var(--background-color-2);
        min-width: 300px;
        right: 0px;
        margin: 20px;
        border-radius: 20px;
    }
}


/*.app {
	height: 100vh;
	max-height: calc(-webkit-fill-available - env(safe-area-inset-bottom));
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr auto;
	overflow: hidden;
	// position: fixed;

	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	width: 100%;
	&-content {
		background: var(--background-color);
		position: relative;
		// height: 100%;
		// padding-top: env(safe-area-inset-top);
		overflow: auto;
		order: 1;
	}
	&-footer {
		background: rgba(var(--glass), var(--glass-opacity));
		backdrop-filter: blur(20px);
		border-radius: 20px;
		//max-width: 1024px;
		//margin: 0 auto;
		// position: fixed;
		display: flex;
		flex-direction: column;
		//bottom: 0;
		//z-index: 6;
		width: 100%;
		touch-action: none;
	}
	&-player {
		background: var(--background-color-2);
		border-radius: 20px;
		// box-shadow: 0 2px 4px rgb(17 17 18 / 4%), 0 1px 1px rgb(19 20 20 / 6%);
		// padding-bottom: env(safe-area-inset-bottom);
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		order: 2;
		grid-row-start: span 2;
		grid-column-start: 2;
	}

	&-menu {
		// background: var(--background-color-3);
		background: rgba(var(--glass), var(--glass-opacity));
		// padding: 15px;
		order: 0;
		grid-row-start: span 3;
		border-radius: 20px;

		margin: 15px;
		// padding-bottom: calc(15px + env(safe-area-inset-bottom));

		display: flex;
		flex-direction: column;
		.grow {
			flex-grow: 1;
		}
		a {
			padding: 15px;
			text-align: center;
			color: var(--foreground-color);
			opacity: 0.2;

			&.active {
				color: var(--accent-color);
				opacity: 1;

				span {
					animation: icon 0.1s 1;
				}
			}

			.title {
				display: block;
				text-transform: uppercase;
				font-size: 9px;
				font-weight: 600;
			}
		}
	}
}
@keyframes icon {
	0% {
		transform: rotateZ(-10deg);
	}
	100% {
		transform: rotateZ(10deg);
	}
}

@media only screen and (max-width: 1000px) {
	.app {
		height: 100vh;
		max-height: calc(-webkit-fill-available - env(safe-area-inset-bottom));
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-columns: 1fr;
		overflow: hidden;
		// position: fixed;

		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
			env(safe-area-inset-left);
		width: 100%;
		&-content {
			background: var(--background-color);
			position: relative;
			// height: 100%;
			// padding-top: env(safe-area-inset-top);
			overflow: auto;
			order: 0;
		}
		&-footer {
			background: rgba(var(--glass), var(--glass-opacity));
			backdrop-filter: blur(20px);
			border-radius: 20px;
			//max-width: 1024px;
			//margin: 0 auto;
			// position: fixed;
			display: flex;
			flex-direction: column;
			//bottom: 0;
			//z-index: 6;
			width: 100%;
			touch-action: none;
		}
		&-player {
			background: var(--background-color-2);
			border-radius: 20px;
			// box-shadow: 0 2px 4px rgb(17 17 18 / 4%), 0 1px 1px rgb(19 20 20 / 6%);
			// padding-bottom: env(safe-area-inset-bottom);
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 15px;
			grid-row-start: 3;
			grid-column-start: span 1;

			order: 2;
		}

		&-menu {
			// background: var(--background-color-3);
			padding: 0px;
			padding-bottom: 75px;
			margin: 0px;
			margin-bottom: -75px;
			// padding-bottom: calc(15px + env(safe-area-inset-bottom));
			flex-direction: row;
			display: flex;
			grid-row-start: 2;
			order: 1;

			.grow {
				display: none;
			}
			a {
				flex-grow: 1;
				flex-basis: 0;
				text-align: center;
				color: var(--foreground-color);
				opacity: 0.2;

				&.active {
					color: var(--accent-color);
					opacity: 1;

					span {
						animation: icon 0.1s 1;
					}
				}

				.title {
					display: block;
					text-transform: uppercase;
					font-size: 9px;
					font-weight: 600;
				}
			}
		}
	}
}

/*.app {
		height: 100vh;
		max-height: calc(-webkit-fill-available - env(safe-area-inset-bottom));
		display: grid;
		grid-template-rows: 1fr auto;
		overflow: hidden;
		// position: fixed;

		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
			env(safe-area-inset-left);
		width: 100%;
		&-content {
			background: var(--background-color);
			position: relative;
			// height: 100%;
			// padding-top: env(safe-area-inset-top);
			overflow: auto;
		}
		&-footer {
			background: rgba(var(--glass), var(--glass-opacity));
			backdrop-filter: blur(20px);
			border-radius: 20px;
			//max-width: 1024px;
			//margin: 0 auto;
			// position: fixed;
			display: flex;
			flex-direction: column;
			//bottom: 0;
			//z-index: 6;
			width: 100%;
			touch-action: none;
		}
		&-player {
			background: var(--background-color-2);
			border-radius: 20px;
			// box-shadow: 0 2px 4px rgb(17 17 18 / 4%), 0 1px 1px rgb(19 20 20 / 6%);
			// padding-bottom: env(safe-area-inset-bottom);
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 15px;
		}

		&-menu {
			// background: var(--background-color-3);
			padding: 15px;
			// padding-bottom: calc(15px + env(safe-area-inset-bottom));

			display: flex;

			a {
				flex-grow: 1;
				flex-basis: 0;
				text-align: center;
				color: var(--foreground-color);
				opacity: 0.2;

				&.active {
					color: var(--accent-color);
					opacity: 1;

					span {
						animation: icon 0.1s 1;
					}
				}

				.title {
					display: block;
					text-transform: uppercase;
					font-size: 9px;
					font-weight: 600;
				}
			}
		}
	}*/