.app {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto auto;
	overflow: hidden;
	position: fixed;
	left: 0;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	bottom: 0;
	top: 0;
	width: 100%;
	&-content {
		background: var(--background-color);
		position: relative;
		// padding-top: env(safe-area-inset-top);
		overflow: auto;
	}

	&-player {
		background: var(--background-color-2);
		border-radius: 20px;
		// box-shadow: 0 2px 4px rgb(17 17 18 / 4%), 0 1px 1px rgb(19 20 20 / 6%);
		// padding-bottom: env(safe-area-inset-bottom);
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
	}

	&-menu {
		background: var(--background-color);
		padding: 15px;
		// padding-bottom: calc(15px + env(safe-area-inset-bottom));

		display: flex;

		a {
			flex-grow: 1;
			flex-basis: 0;
			text-align: center;
			color: var(--foreground-color);
			opacity: 0.2;

			&.active {
				color: var(--accent-color);
				opacity: 1;

				span {
					animation: icon 0.1s 1;
				}
			}

			.title {
				display: none;
			}
		}
	}
}
@keyframes icon {
	0% {
		transform: rotateZ(-10deg);
	}
	100% {
		transform: rotateZ(10deg);
	}
}
