<app-header [back]="true"></app-header>
<div class="container mx-auto">

	<div class="player">
		<div class="player-content">
			<div class="image">
				<img (swipe)="onSwipe($event)" [src]="track?.album?.picture || '/assets/app-icon-text.png'" />
			</div>
			<div class="details">
				<h1>{{ track.name }}</h1>
				<p>{{ track.artist }}</p>
			</div>


			<div class="playing-progress">
				<div class="playing-progress-slider">
					<app-slider [seekable]="!(buffering && playing)" [options]="{vertical: false, autoSize: false}"
						[buffer]="buffer" [value]="progress" (valueChange)="onProgress($event)">
					</app-slider>


					<app-loading [loading]="buffering && playing"></app-loading>
				</div>
				<div class="playing-progress-time">
					<div class="current">
						{{currentTime | formatSeconds}}

					</div>

					<div class="total">
						{{(track.duration || 0) | formatSeconds}}
					</div>
				</div>
			</div>

			<div class="playing-controls">
				<div (click)="playerService.onShuffle()"
					class="playing-controls-control shuffle {{ playerService.shuffle ? 'active' : '' }}">
					<span class="material-icons-round ">
						shuffle
					</span>
				</div>
				<div class="playing-controls-control grow">

					<div (click)="playerService.onPrev()" class=" skip {{ playerService.isFirst ? 'disabled': '' }}">
						<i class="ph-skip-back"></i>


					</div>

					<div (click)="playerService.onPlayback()" class=" playback">

						<i class="ph-{{playing ? 'pause' : 'play' }}"></i>



					</div>

					<div (click)="playerService.onNext()" class="skip {{ playerService.isLast ? 'disabled': '' }}">
						<i class="ph-skip-forward"></i>



					</div>

				</div>

				<div (click)="playerService.onRepeat()"
					class="playing-controls-control repeat {{ playerService.repeat ? 'active' : '' }}">
					<span class="material-icons-round">
						repeat
					</span>
				</div>
			</div>

			<!--div class="playing-volume">
				<div class="playing-volume-controls">
					<div class="playing-volume-controls-level">
						<i *ngIf="volume === 0" class="feather-volume-x"></i>
						<i *ngIf="volume <= 20 && volume > 0" class="feather-volume"></i>
						<i *ngIf="volume < 50 && volume > 20" class="feather-volume-1"></i>
						<i *ngIf="volume >= 50" class="feather-volume-2"></i>
					</div>
					<div class="playing-volume-controls-slider">
						<app-slider [options]="{vertical: false, autoSize: false}" [value]="volume"
							(valueChange)="onVolume($event)">
						</app-slider>
					</div>
				</div>
			</div-->
		</div>

		<div class="player-queue">
			<div class="queue">
				<div class="playing-header-playing" (click)="bottomSheet.toggle()">
					<div class="title">{{ tracks.length }}</div>
					<div class="subtitle">Songs in queue</div>
				</div>

				<div (click)="onClear()" class="playing-header-action">
					<div class="playing-header-action-item">

						<i class="feather feather-trash"></i>


					</div>
				</div>
			</div>


			<app-track-item [track]="track" *ngFor="let track of tracks">
			</app-track-item>



			<!--virtual-scroller #scroll [items]="tracks" [enableUnequalChildrenSizes]="true" [checkResizeInterval]="0">

				<app-loading [loading]="loading"></app-loading>
				<div #container>

					<app-track-list [options]="{ picture: true, actions: false}" [track]="track"
						*ngFor="let track of scroll.viewPortItems">
					</app-track-list>

				</div>
			</virtual-scroller-->

		</div>
	</div>


	<!--div class="playing">

		<a *ngIf="track.lyrics" (click)="lyrics = true">Lyrics</a>
		<a (click)="onPlaylist()">Add to playlist</a>


		<a [routerLink]="['/', { outlets: { modal: ['modal','artists', track?.album?.artist?._id] } }]">More
			from artist</a>
		<a [routerLink]="['/', { outlets: { modal: ['modal','albums',track?.album?._id] } }]">Go to
			album</a>
		<div class="divider no-margin"></div>

		<a (click)="onClear()">Clear queue</a>
		<div class="playing-carousel">
			<div class="image-wrap">
				<img (swipe)="onSwipe($event)" [src]="track?.album?.picture || '/assets/app-icon-text.png'" />

			</div>
		</div>

		<div class="playing-track">
			<div class="playing-track-details">
				<div class="name">
					<div class="overflow-text">
						{{ track.name }}

					</div>
				</div>

				<div class="artists">
					{{ track.artist }}
				</div>
			</div>

			<div class="playing-track-actions">
				<div (click)="onLike($event)" class="{{ track.liked ? 'active' : '' }}">
					<i class="feather-heart"></i>
				</div>
			</div>
		</div>

		<div class="playing-progress">
			<div class="playing-progress-slider">
				<app-slider [seekable]="!(buffering && playing)" [options]="{vertical: false, autoSize: false}"
					[buffer]="buffer" [value]="progress" (valueChange)="onProgress($event)">
				</app-slider>


				<app-loading [loading]="buffering && playing"></app-loading>
			</div>
			<div class="playing-progress-time">
				<div class="current">
					{{currentTime | formatSeconds}}

				</div>

				<div class="total">
					{{(track.duration || 0) | formatSeconds}}
				</div>
			</div>
		</div>

		<div class="playing-controls">
			<div (click)="playerService.onShuffle()"
				class="playing-controls-control shuffle {{ playerService.shuffle ? 'active' : '' }}">
				<span class="material-icons-round ">
					shuffle
				</span>
			</div>
			<div class="playing-controls-control grow">

				<div (click)="playerService.onPrev()" class=" skip {{ playerService.isFirst ? 'disabled': '' }}">
					<span class="material-icons-round">
						skip_previous
					</span>


				</div>

				<div (click)="playerService.onPlayback()" class=" playback">
					<span class="material-icons-round">
						{{playing ? 'pause' : 'play_arrow' }}
					</span>

				</div>

				<div (click)="playerService.onNext()" class="skip {{ playerService.isLast ? 'disabled': '' }}">
					<span class="material-icons-round">
						skip_next
					</span>

				</div>

			</div>

			<div (click)="playerService.onRepeat()"
				class="playing-controls-control repeat {{ playerService.repeat ? 'active' : '' }}">
				<span class="material-icons-round">
					repeat
				</span>
			</div>
		</div>

		<div class="playing-volume">
			<div class="playing-volume-controls">
				<div class="playing-volume-controls-level">
					<i *ngIf="volume === 0" class="feather-volume-x"></i>
					<i *ngIf="volume <= 20 && volume > 0" class="feather-volume"></i>
					<i *ngIf="volume < 50 && volume > 20" class="feather-volume-1"></i>
					<i *ngIf="volume >= 50" class="feather-volume-2"></i>
				</div>
				<div class="playing-volume-controls-slider">
					<app-slider [options]="{vertical: false, autoSize: false}" [value]="volume"
						(valueChange)="onVolume($event)">
					</app-slider>
				</div>
			</div>
		</div>

		<div class="playing-queue">


			<div class="playing-queue-header" (click)="onQueue()">

				<div class="playing-queue-header-action">
					<div class="playing-header-action-item" style="padding-right: 15px;">

						<i class="material-icons-round">
							keyboard_arrow_up
						</i>

					</div>
				</div>
				<div class="playing-queue-header-playing">
					<div class="title">Queue</div>
					<div class="subtitle">{{ tracks.length }} Songs in queue
						({{ duration | formatSeconds }})</div>
				</div>

				<div class="playing-queue-header-action">
					<div class="playing-header-action-item">

						<i class="material-icons-round">
							queue_music
						</i>

					</div>
				</div>
			</div>


		</div>

	</div>


	<!--app-bottom-sheet [options]="options" [header]="header" #bottomSheet>
		<ng-template #header>
			<div class="playing-header">
				<div class="playing-header-action" (click)="bottomSheet.toggle()">
					<div class="playing-header-action-item">

						<i class="feather-chevron-down"></i>
					</div>
				</div>

				<div class="playing-header-playing" (click)="bottomSheet.toggle()">
					<div class="title">{{ tracks.length }}</div>
					<div class="subtitle">Songs in queue</div>
				</div>

				<div (click)="onClear()" class="playing-header-action">
					<div class="playing-header-action-item">

						<i class="feather feather-trash"></i>


					</div>
				</div>
			</div>
		</ng-template>
		<virtual-scroller #scroll [items]="tracks" [enableUnequalChildrenSizes]="true" [checkResizeInterval]="0">

			<app-loading [loading]="loading"></app-loading>
			<div #container>

				<app-track-list [options]="{ picture: true, actions: false}" [track]="track"
					*ngFor="let track of scroll.viewPortItems">
				</app-track-list>

			</div>
		</virtual-scroller>
	</app-bottom-shee-->

</div>