<!--div id="snackbar" class="{{toastService.queue.length > 0 ? 'show' : ''}}">
	<div class="text-center" *ngIf="toastService?.options?.title">{{ toastService?.options?.title }}</div>
	{{toastService.message}}
</div-->
<div class="notifications">


	<ng-container *ngFor="let message of interfaceService.queue; let i = index;">
		<div (click)="interfaceService.dismiss(i)" class="notification">
			<div class="close"><i class="feather-close"></i></div>
			<div class="message">{{message}}</div>
		</div>
	</ng-container>

</div>