<div class="bottom-sheet-bg-overlay" *ngIf="flags.isBottomSheetEnabled" (click)="close()"></div>
<div (pan)="onPan($event)" class="bottom-sheet-container" *ngIf="flags.isBottomSheetEnabled" [@slideUpToggle]>
	<div>
		<ng-container *ngIf="header || options.title">
			<ng-container [ngTemplateOutlet]="header ? headerRef : basic" [ngTemplateOutletContext]="{item:this}">
			</ng-container>
			<ng-template #basic>
				<div class="bottom-sheet-header">

					<h4 class="title">{{options?.title}}</h4>
				</div>
			</ng-template>
		</ng-container>



		<div class="bottom-sheet-content" [ngStyle]="{'max-height': options?.maxHeight}">
			<ng-content></ng-content>
		</div>
		<div class="bottom-sheet-footer" (click)="close()" *ngIf="flags.isCloseButtonEnabled">
			{{options.closeButtonTitle}}
		</div>
	</div>
</div>