:host {
	touch-action: none !important;
}
.bottom-sheet-bg-overlay {
	background: rgba(0, 0, 0, 0.72);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 95;
	touch-action: none !important;
}

.bottom-sheet-container {
	background: var(--background-color);
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border-radius: 8px 8px 0px 0;
	z-index: 99;
	touch-action: none !important;
	will-change: transform, opacity;
	color: var(--foreground-color);
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.bottom-sheet-header h4.title {
	display: inline-block;
	font-weight: 500;
	margin: 0;
	font-size: 1rem;
}

.bottom-sheet-header {
	border-bottom: 1px solid var(--border-color);
	padding: 16px;
}

.bottom-sheet-content {
	// max-height: 400px;
	overflow-y: auto;

	// padding: 16px;
}

@media (max-width: 992px) {
	.bottom-sheet-container {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		margin-left: 0;
		touch-action: none !important;
	}
}
