<div class="bottom-sheet-bg-overlay" *ngIf="_visible" (click)="close()"></div>
<div (pan)="onPan($event)" class="bottom-sheet-container" *ngIf="_visible" [@slideUpToggle] #bottomSheetContainer>
	<div>
		<ng-container *ngIf="header || options.title">
			<ng-container [ngTemplateOutlet]="header ? headerRef : basic" [ngTemplateOutletContext]="{item:this}">
			</ng-container>
			<ng-template #basic>
				<div class="bottom-sheet-header">

					<h4 class="title">{{options?.title}}</h4>
				</div>
			</ng-template>
		</ng-container>



		<div class="bottom-sheet-content" [ngStyle]="{'height': options?.maxHeight}">
			<ng-content></ng-content>
		</div>

	</div>
</div>