.icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.albums {
    margin-bottom: 20px;
    height: calc(var(--app-height) - 60px);
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    // min-height: var(--app-height);
    padding: 1rem;
    // grid-row-gap: 25px;
    // animation: slideY 0.6s both;

    //display: none;
    @media screen and (max-width: 1212px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 930px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0 1rem;
        height: calc(var(--app-height) - env(safe-area-inset-bottom) - 140px);

    }

    &.list {
        display: flex;
        flex-direction: column;

        .album {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1rem;

            img {
                width: 60px;
                height: 60px;

            }

            .album-info {
                flex-grow: 1;

                h3 {
                    font-size: 14px;
                }

                p {
                    opacity: 0.8;
                }

            }

        }
    }

    .album {
        transition: all ease-in-out .3s;

        .image {
            // background-color: blue;
            aspect-ratio: 1;

            img {
                //  min-height: 300px;
                object-fit: cover;
                aspect-ratio: 1;
                // height: 350px;

                border-radius: 15px;
                // filter: grayscale(100%) brightness(50%);

                transition: all ease-in-out .3s;

                // filter: brightness(0.5) grayscale(.4);

            }
        }


        h3 {
            margin: 0px;
        }

        p {
            margin: 0px;
        }

        &:hover {
            cursor: pointer;

            .image {
                img {
                    filter: grayscale(0) brightness(1);

                }
            }

        }
    }



}