<app-header [sticky]="true" [filler]="false" title="Albums">
	<div header-title>
		<h3>Albums</h3>
	</div>
	<div header-actions class="actions">

		<div (click)="grid = !grid" appRipple class="icon">


			<i *ngIf="grid" class="ph-squares-four"></i>
			<i *ngIf="!grid" class="ph-list"></i>

		</div>

		<div appRipple class="icon" [dropdownTriggerFor]="dropdown">


			<i class="ph-funnel"></i>
			<app-dropdown #dropdown>
				<div class="dropdown-item" (click)="onSort('name')">Sort by name</div>
				<div class="dropdown-item" (click)="onSort('created_at')">Sort by date</div>
			</app-dropdown>
		</div>
	</div>
</app-header>



<div *ngIf="albums.length > 0" appInfiniteScroll [scrollPercent]="70" [immediateCallback]="true"
	[scrollCallback]="scrollCallback" class="albums {{ grid ? '' : 'list' }}">

	<div appRipple class="album" *ngFor="let album of albums" (click)="onAlbum(album._id)">
		<div class="image">
			<img class="lazyload" [lazyLoad]="album.picture || '/assets/app-icon-text.png'" />

		</div>

		<div class="album-info">
			<h3>{{ album.name }}</h3>
			<p>{{ album.artist.name }}</p>

		</div>
	</div>
</div>
<!--app-infinite-scroll (scrolled)="onScroll()"></app-infinite-scroll-->