:host {
    display: block;
}

.icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.filters {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    gap: 1rem;
    // background-color: red;

    .filter {
        flex-grow: 1;
        flex-basis: 0;

        &.small {
            flex-grow: 0;
            flex-basis: auto;
        }

        select {
            background-color: transparent;
            border: none;
            appearance: none;
            width: 100%;
            padding: 6px 10px;
            color: var(--text-color);
            border: 2px solid var(--text-color);
            border-radius: 15px;
            appearance: none;
        }

        label {
            margin: 0px;
        }
    }
}

/*
.filters {
    background-color: var(--background-color);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin-top: -15px;
    z-index: 1;
    padding: 15px;
    // box-shadow: 0 2px 4px rgb(17 17 18 / 4%), 0 1px 1px rgb(19 20 20 / 6%);
    left: 0;

    .filter {
        margin-bottom: 0px;
        margin-top: 0px;

        &:first-of-type {
            // background: blue !important;
            margin-left: 0px;
        }

        &:last-of-type {
            // background: red !important;
            margin-right: 15px;
        }

        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: var(--background-color-4);
        // backdrop-filter: blur(50px);
        color: var(--foreground-color);
        padding: 10px;

        i {
            padding-left: 5px;
        }

        &.inactive {
            color: var(--foreground-color);
        }

        &:hover {
            color: var(--accent-color);
            cursor: pointer;
        }

        &+.filter {
            margin-left: 10px;
        }
    }
}*/

virtual-scroller {
    height: var(--app-height);
    width: 100%;
    padding-bottom: 80px;
}