@use '@angular/cdk';

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

@import "~@angular/cdk/overlay-prebuilt.css";

@import "./theme/base.scss";

:root,
html[data-theme="light"] {
    --accent-color: #3ec7c2;

    --background-color: #fff;
    --background-color-2: #f2f2f2;
    --background-color-3: #f9f9f9;
    --background-color-4: #fff;
    --background-color-5: #fbfbfb;
    --input-color: #181818;

    --border-color: #eee;
    --highlight-color: #2d63e9;

    --text-color: #181818;

    --ripple-color: rgba(0, 0, 0, 0.2);

}

html[data-theme="dark"] {
    --accent-color: #3ec7c2;

    --background-color: #000;
    --background-color-2: #0e0e0e;
    --background-color-3: #202020;
    --background-color-4: #181818;
    --background-color-5: #222222;

    --border-color: #201f1f;
    --highlight-color: #2d63e9;
    --input-color: #fff;

    --text-color: #f7f7f9;

    --ripple-color: rgba(255, 255, 255, 0.7);

}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: rgb(24, 24, 24);
}

/*
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}*/
::-webkit-scrollbar {
    display: none; // Safari and Chrome
}

input,
input:before,
input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

html,
body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
    height: var(--app-height);
    // min-height: calc(100% + env(safe-area-inset-top));
    // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

input,
button,
textarea,
:focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

input,
select,
textarea {
    //background-color: var(--background-color-2) !important;
    //color: var(--foreground-color) !important;
    //box-shadow: none !important;
    //border: 1px solid var(--border-color) !important;
}

* {
    &:focus {
        outline: none;
    }
}

a {
    color: #333;
    text-decoration: none;
    // border-bottom: 1px dashed;

    &:focus,
    &:hover {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
}


.transformer {
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.76);
}

.lazyload {
    transition: opacity 1s;
    opacity: 0;
    object-fit: cover;
}

.ng-lazyloaded {
    opacity: 1;
}

[placeholder]:not(input):empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
}

.lazyload {
    transition: opacity 1s;
    opacity: 0;
    object-fit: cover;
}

.ng-lazyloaded {
    opacity: 1;
}

.highlight {
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media all and (max-width: 1000px) {
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    will-change: transform, opacity;
    transform: scale(0);
    border-radius: 15px;
    animation: ripple 600ms linear;
    background-color: var(--ripple-color);
}

@keyframes ripple {
    to {
        transform: scale(4);

        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideY {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
}

@keyframes slideX {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
}

@keyframes slideXLeft {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }


    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInShow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.dropdown-item {
    padding: 15px;

    &:first-of-type {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &:last-of-type {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--border-color);
    }
}

.tooltip {
    position: absolute;
    z-index: 1000;
    padding: 10px;
    background-color: #18181b;
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.2;
    // white-space: nowrap;

    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    animation: fadeInShow 0.3s;

    visibility: hidden;
    opacity: 0;
    // transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out,
    //     transform 0.1s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    pointer-events: none;

    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

[data-tooltip]:hover {
    position: relative;
}

[data-tooltip]:hover:after {
    background-color: #000000;
    border-radius: 5px;

    color: #ffffff;
    font-size: 12px;
    content: attr(data-tooltip);

    margin-bottom: 10px;
    top: calc(100% + 5px);
    left: 0;
    padding: 7px 12px;
    position: absolute;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    line-height: 1.5;
    white-space: nowrap;
    z-index: 9999;
    animation: fadeInShow 0.1s;

}