@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "~swiper/swiper-bundle";

@import "./theme/base.scss";

:root,
html[data-theme="light"] {
	--accent-color: #3c91ff;

	--swiper-theme-color: #ffffff !important;
	--cropper-outline-color: rgba(0, 0, 0, 0.8);
	--cropper-overlay-color: black;

	--background-color: #fff;
	--background-color-2: #fff;
	--background-color-3: #e9e9e9;
	--background-color-4: #f9f9f9;
	--background-color-5: #fbfbfb;
	--input-color: #181818;

	--border-color: #eee;
	--highlight-color: #2d63e9;

	--foreground-color: #181818;
	--menu-add-color: #000;

	--dark-color: #181818;
	--logo-filter: inherit;
}

html[data-theme="dark"] {
	--accent-color: #3c91ff;

	--swiper-theme-color: #ffffff !important;
	--cropper-outline-color: rgba(0, 0, 0, 0.8);
	--cropper-overlay-color: black;

	--background-color: #111;
	--background-color-2: #1c1c1c;
	--background-color-3: #303030;
	--background-color-4: #222222;
	--background-color-5: #222222;

	--border-color: #303030;
	--highlight-color: #2d63e9;
	--input-color: #fff;

	--foreground-color: #f7f7f9;
	--menu-add-color: #303030;

	--dark-color: #181818;
	--logo-filter: brightness(0) invert(1);

	--shade-loading: grayscale(2.8) brightness(0.12);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}
/*
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}*/

input,
input:before,
input:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
html,
body {
	margin: 0;
}

@import "./assets/feather.css";

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
}

input,
button,
textarea,
:focus {
	outline: none; // You should add some other style for :focus to help UX/a11y
}

input,
select,
textarea {
	//background-color: var(--background-color-2) !important;
	//color: var(--foreground-color) !important;
	//box-shadow: none !important;
	//border: 1px solid var(--border-color) !important;
}
* {
	&:focus {
		outline: none;
	}
}

a {
	color: #333;
	text-decoration: none;
	// border-bottom: 1px dashed;

	&:focus,
	&:hover {
		color: black;
		cursor: pointer;
		text-decoration: none;
	}
}

.lazyload {
	transition: opacity 1s;
	opacity: 0;
	object-fit: cover;
}

.ng-lazyloaded {
	opacity: 1;
}
/*
.overflow-text {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	white-space: nowrap;
	animation-name: bounce;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	0% {
		transform: translateX(10%);
	}
	50% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(10%);
	}
}
*/
.dropdown-action-item {
	font-size: 1.2rem;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	&:hover {
		background-color: var(--accent-color);
		color: white;
		cursor: pointer;
	}
}

.dropup-content {
	background-color: rgba(0, 0, 0, 0.8) !important;
	backdrop-filter: blur(50px) !important;
}

.dropdown-action-list {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
	a {
		color: white;
		&:first-of-type {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&:last-of-type {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		padding: 15px;
		// white-space: nowrap;

		&:hover {
			background-color: var(--accent-color);

			color: #fff;
			cursor: pointer;
		}

		i {
			text-align: right;
			float: right;
		}
	}
}

.highlight {
	font-size: 2.7rem;
	color: var(--foreground-color);
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 10px;
}

@media all and (max-width: 1000px) {
	.container {
		padding-left: 0px !important;
		padding-right: 0px !important;
		min-width: 100% !important;
		max-width: 100% !important;
		width: 100% !important;
	}
}
