nav {
    .app-logo {
        text-align: center;
        padding: 20px 15px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;

        .menu-item {
            a {
                color: white;
                display: block;
                text-decoration: none;
                margin: 0 10px 10px 10px;
                border-radius: 10px;
                width: 60px;


                &.active {
                    background: var(--accent-color);
                }

                &:hover {
                    background: rgba(88, 88, 88, 0.1);

                    .title {
                        display: inline-block;
                    }

                    span {
                        background: darken($color: #242526, $amount: 6);
                    }
                }

                i {
                    font-size: 1.4rem;
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    line-height: 60px;
                    color: white !important;
                }

                .image {
                    height: 60px;
                    line-height: 60px;

                    img {
                        height: 25px;
                        width: 25px;
                        text-align: center;
                        border-radius: 50%;
                        margin-top: 18px;
                    }
                }

                .title {
                    display: none;
                    background: white;
                    z-index: 99999;
                    padding: 10px;
                    border-radius: 5px;
                    color: black;
                    margin-left: 40px;
                    position: absolute;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    nav {

        .app-logo {
            display: none;
        }

        .menu {
            flex-direction: row;
            padding: 5px;
            justify-content: center;

            .menu-item {
                // flex-grow: 1;
                // flex-basis: 0;
                margin: 0 auto;

                a {
                    margin: 0;
                    // width: auto;

                    &:hover {
                        background: var(--accent-color);

                        .title {
                            display: none;
                        }
                    }

                    i {
                        font-size: 1rem;
                    }

                    .image {
                        height: 60px;

                        img {
                            height: 25px;
                            width: 25px;
                            text-align: center;
                            border-radius: 50%;
                            margin-top: 18px;
                        }
                    }
                }
            }
        }
    }
}