<nav>
	<div class="app-logo">
		<img width="50" src="/assets/logo.png" />

	</div>

	<ul>
		<li>
			<a [routerLinkActive]="['active']" routerLink="/discover">
				<i class="feather-music"></i>
				<div class="title">Discover</div>
			</a>
		</li>

		<li>
			<a [routerLinkActive]="['active']" routerLink="/tracks">
				<i class="feather-list"></i>
				<div class="title">Tracks</div>
			</a>
		</li>

		<li>
			<a [routerLinkActive]="['active']" routerLink="/artists">
				<i class="feather-users"></i>
				<div class="title">Artists</div>
			</a>
		</li>


		<li>
			<a [routerLinkActive]="['active']" routerLink="/albums">
				<i class="feather-disc"></i>
				<div class="title">Albums</div>
			</a>
		</li>

		<li>
			<a [routerLinkActive]="['active']" routerLink="/favourites">
				<i class="feather-heart"></i>
				<div class="title">Favourites</div>
			</a>
		</li>

		<li>
			<a [routerLinkActive]="['active']" routerLink="/search">
				<i class="feather-search"></i>
				<div class="title">Search</div>
			</a>
		</li>


		<li>
			<a [routerLinkActive]="['active']" routerLink="/settings">
				<i class="feather-settings"></i>
				<div class="title">Settings</div>
			</a>
		</li>

	</ul>
</nav>