<nav>
	<div class="app-logo">
		<img width="50" src="./assets/logo.png" />

	</div>

	<div class="menu">
		<div class="menu-item">

			<a [routerLinkActive]="['active']" routerLink="/search">
				<i class="feather-search"></i>
				<div class="title">Search</div>
			</a>
		</div>

		<div class="menu-item">

			<a [routerLinkActive]="['active']" routerLink="/artists">
				<i class="feather-users"></i>
				<div class="title">Artists</div>
			</a>
		</div>


		<div class="menu-item">

			<a [routerLinkActive]="['active']" routerLink="/albums">
				<i class="feather-folder"></i>
				<div class="title">Library</div>
			</a>
		</div>
		<div class="menu-item">

			<a [routerLinkActive]="['active']" routerLink="/playlists">
				<i class="feather-music"></i>
				<div class="title">Playlists</div>
			</a>
		</div>
		<div class="menu-item">

			<a [routerLinkActive]="['active']" routerLink="/settings">
				<i class="feather-settings"></i>
				<div class="title">Settings</div>
			</a>
		</div>
		<div class="menu-item">

			<a [routerLinkActive]="['active']" routerLink="/queue">
				<div class="image">
					<img class="lazyload" [lazyLoad]="track?.album?.picture || '/assets/logo.png'" />

				</div>

				<div class="title">Queue</div>
			</a>
		</div>
	</div>
</nav>