nav {
	.app-logo {
		text-align: center;
		padding: 20px 15px;
	}

	.menu {
		display: flex;
		flex-direction: column;
		text-align: center;

		.menu-item {
			a {
				color: var(--foreground-color);
				display: block;
				text-decoration: none;
				margin: 0 10px 10px 10px;
				border-radius: 10px;
				width: 60px;
				position: relative;

				&.active {
					background: var(--accent-color);
				}

				&:hover {
					background: var(--border-color);

					.title {
						display: inline-block;
					}

					span {
						background: darken($color: #242526, $amount: 6);
					}
				}

				i {
					font-size: 1.4rem;
					height: 32px;
					width: 32px;
					text-align: center;
					line-height: 60px;
					color: var(--foreground-color) !important;
				}

				.image {
					height: 60px;
					line-height: 60px;

					img {
						height: 25px;
						width: 25px;
						text-align: center;
						border-radius: 50%;
						margin-top: 18px;
					}
				}

				.title {
					display: none;
					background: var(--background-color-2);
					z-index: 99999;
					padding: 10px;
					border-radius: 5px;
					color: var(--foreground-color);
					margin-left: 40px;
					position: absolute;
					margin-top: 10px;
					position: absolute;
					top: 0;
					left: 50px;
				}
			}
		}
	}
}

@media all and (max-width: 1000px) {
	nav {
		margin-top: 5px;
		.app-logo {
			display: none;
		}

		.menu {
			flex-direction: row;
			padding: 5px;
			justify-content: center;

			.menu-item {
				// flex-grow: 1;
				// flex-basis: 0;
				margin: 0 auto;

				a {
					width: 40px;
					height: 40px;
					margin: 0;

					// width: auto;
					&.active {
						//background-color: transparent;
						//border-bottom: 4px solid var(--accent-color) !important;
						//border-radius: 0 !important;
					}

					&:hover {
						//background: transparent;
						//border-bottom: 4px solid var(--accent-color);
						//border-radius: 0;

						.title {
							display: none;
						}
					}

					i {
						font-size: 1rem;
						line-height: 40px;
					}

					.image {
						height: 40px;
						line-height: 40px;
						img {
							height: 25px;
							width: 25px;
							text-align: center;
							border-radius: 50%;
							margin-top: 8px;
						}
					}
				}
			}
		}
	}
}
