.icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.playlists {
    margin: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 15px;

    .playlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        &-name {
            flex-grow: 1;
            padding: 15px;
        }

        &-actions {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;

            button {
                border: none;
            }

        }

        &+.playlist {
            border-top: 1px solid var(--border-color);
        }
    }
}

.add-playlist {

    gap: 5px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    transition: all ease-in-out 0.2s;
    border-bottom: 1px solid transparent;

    i {
        font-size: 1.5rem;
    }

    &:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
    }

}