<app-header [back]="true">
	<div (click)="onBack()" header-back>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
			stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
			class="ai ai-ArrowLeft">
			<path d="M11 5l-7 7 7 7" />
			<path d="M4 12h16" />
		</svg>
	</div>
	<div header-title>
		Settings
	</div>

</app-header>

<div class="app-logo">
	<img lazyLoad="/assets/app-icon-text.png">
</div>
<div class="bubbles">
	<div class="bubble">
		<h1>{{ server.tracks || 0 }}</h1>
		<p>Songs</p>
	</div>

	<div class="bubble">
		<h1>{{ server.albums || 0 }}</h1>
		<p>Albums</p>
	</div>

	<div class="bubble">
		<h1>{{ server.artists || 0 }}</h1>
		<p>Artists</p>
	</div>
</div>

<div class="title-action">
	<h3>Theme</h3>

	<div class="float-right">



	</div>
</div>
<div class="theme">
	<app-theme-toggle></app-theme-toggle>
	<!--app-horizontal-scroll>
		<ng-container *ngFor="let color of colors">
			<div class="color-block" [style.background-color]="color" (click)="setTheme(color)">
				{{ color}}</div>
		</ng-container>
	</app-horizontal-scroll-->
</div>
<h3>Server</h3>

<div class="list">
	<div class="list-item">
		<div class="text-lead">Last Sync</div>
		<div class="text-meta">{{server.last_scan | date: 'medium'}}</div>
	</div>

	<div class="list-item">
		<div class="text-lead">Duration</div>
		<div class="text-meta">{{server.seconds}}s</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Size</div>
		<div class="text-meta">{{server.size | size}}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Mount</div>
		<div class="text-meta">{{server.mount}}</div>
	</div>

	<div *ngIf="api_key" class="list-item">
		<div class="text-lead">API Key</div>
		<div class="text-meta">{{api_key}}</div>
	</div>

	<div *ngIf="api_key" class="list-item">
		<div class="text-lead">Host</div>
		<div class="text-meta">{{ httpService.API_ENDPOINT }}</div>
	</div>

	<div class="list-item">
		<div class="text-lead">Uptime</div>
		<div class="text-meta">{{ server.uptime | formatSeconds }}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Free Mem</div>
		<div class="text-meta">{{ server.free_mem | size }}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Server</div>
		<div class="text-meta">CPU: {{ server.arch }}, Runtime: {{ server.node_version }}</div>
	</div>
	<div class="list-item">
		<div class="text-lead">Version</div>
		<div class="text-meta">{{ server.version }}</div>
	</div>
	<div routerLink="./users" class="list-item">
		<div class="text-lead">Users</div>
	</div>
	<div (click)="onUpload()" class="list-item">
		<div class="text-lead">Upload</div>
	</div>
</div>
<app-loading [loading]="loading"></app-loading>