<div class="modal {{interfaceService.dialog.visible ? 'is-visible' : ''}}">

	<div class="modal-window small middle">
		<div class="modal-header">


			<div class="modal-title">{{ interfaceService.dialog?.options?.title }}</div>

		</div>
		<div class="modal-body">{{ interfaceService.dialog?.options?.message }}
			<div *ngIf="interfaceService.dialog?.options?.type === 'prompt'" class="m-t-10">
				<input autocomplete="off" class="input" [(ngModel)]="prompt"
					placeholder="{{interfaceService.dialog?.options?.title}}" />
			</div>
		</div>

		<div class="modal-footer">


			<div class="flex flex-right">

				<button
					*ngIf="interfaceService.dialog?.options?.type === 'confirm' || interfaceService.dialog?.options?.type === 'prompt'"
					(click)="close(false)"
					class="button  block default m-r-10">{{interfaceService.dialog?.options?.cancelButtonText}}</button>

				<button *ngIf="interfaceService.dialog?.options?.type !== 'prompt'" (click)="close(true)"
					class="button block  primary">{{interfaceService.dialog?.options?.okButtonText}}</button>

				<button [disabled]="!prompt" *ngIf="interfaceService.dialog?.options?.type === 'prompt'"
					(click)="close(prompt)"
					class="button block fill primary">{{interfaceService.dialog?.options?.okButtonText}}</button>
			</div>
		</div>
	</div>

</div>