<div class="dialog {{interfaceService.dialog.visible ? 'is-visible' : ''}}">


	<div class="modal-window small middle">
		<div class="modal-header">
			<div class="modal-title">
				<div>
					<h3>{{ interfaceService.dialog?.options?.title || interfaceService.dialog?.options?.type }}
					</h3>
					<div class="text-meta">{{ interfaceService.dialog?.options?.message }}</div>
				</div>
			</div>
		</div>

		<div class="modal-body"
			*ngIf="interfaceService.dialog?.options?.type === 'prompt' || interfaceService.dialog?.options?.type === 'picker'">

			<ng-container *ngIf="interfaceService.dialog?.options?.type === 'prompt'">
				<div>
					<label>{{ interfaceService.dialog?.options?.title }}</label>
					<input autocomplete="off" class="input" [(ngModel)]="prompt"
						placeholder="{{ interfaceService.dialog?.options?.title }}" />
				</div>
			</ng-container>

			<ng-container *ngIf="interfaceService.dialog?.options?.type === 'picker'">
				<div class="list">
					<div *ngFor="let item of interfaceService.dialog?.options?.items; let i = index" (click)="close(i)"
						class="item">
						{{ item }}
					</div>
				</div>
			</ng-container>

		</div>

		<div class="modal-footer">
			<div class="actions">
				<ng-container *ngIf="interfaceService.dialog?.options?.type !== 'alert'">
					<div class="action" (click)="close(false)">
						{{interfaceService.dialog?.options?.cancelButtonText}}
					</div>
				</ng-container>
				<ng-container *ngIf="interfaceService.dialog?.options?.type !== 'picker'">

					<div class=" action" (click)="close(true)">
						{{interfaceService.dialog?.options?.okButtonText}}
					</div>
				</ng-container>


			</div>

		</div>

	</div>
</div>